///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../astro/_content';

@forward 'pkg:@maddimathon/utility-astro/templates/astro' hide
        $brightnessMode_all,
    $brightnessMode_default, $contrastMode_all, $contrastMode_default,
    $internal_extendSelectors, $internal_supressCredit, $print_tokens,
    extend-selector-globals, extend-selector-utils, get-sys-colours,
    print-template-header, print-tokens, snippet-button, snippet-input,
    snippet-input-types, snippet-label, tokens-all, tokens-sys-colour;
