///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha.4
///

// @use 'pkg:@maddimathon/utility-sass/list';

@use '../../../config';
// @use '../../../tokens';

@use '../../../lib' as *;

@if config.$print_headings {
    /* # GLOBALS - OBJECTS
     * ======================================================================== */
}

%hr {
    border-width: #{var-border-width('200')};
    color: #{var-theme(ui-primary)};
}

%img,
%figure,
%svg {
    max-width: 100%;
}

%img,
%figure {
    object-fit: cover;
}
