///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

// @use 'pkg:@maddimathon/utility-sass/map';

@use '../config';
// @use '../../../tokens';

@use '../../../lib' as *;

@include debug-checkpoint(
    '#{config.$template_slug} - globals - lists start',
    $level: config.$template_debug_checkpointsLevel + 1,
    $verbose: true
);

@if config.$template_cssHeadings {
    /* # GLOBALS - LISTS
     * ======================================================================== */
}

%li {
    text-wrap: balance;

    &::marker {
        color: #{var-theme(text-primary)};
    }
}

%dl {
    margin: 0;
}

%dt {
}

%dd {
    margin-block: 0;
}
