///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/list';
@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/selector';

@use '../../../config';
@use '../../../tokens';

@use '../../../lib' as *;

@if config.$print_headings {
    /* # GLOBALS - TYPOGRAPHY
     * ======================================================================== */
}

@if config.$include_html {
    #{config.$selector_root} {
        @if font-family-exists(body) {
            font-family: var-font-family('body');
        }
    }

    $_themeSelectors: (config.$selector_null);

    $_themeSlugs: map.keys(tokens.$themes);

    @if list.length($_themeSlugs) > 1 {
        @each $key in $_themeSlugs {
            $_themeSelectors: list.append(
                $_themeSelectors,
                '[data-active-theme=#{$key}]',
                $separator: comma
            );
        }
    }

    @include colour-mode-all {
        @at-root &,
            #{selector.unify(&, $_themeSelectors)},
            #{selector.nest(&, $_themeSelectors)} {
            background: #{var-theme(background)};
            color: #{var-theme(text)};
        }
    }
}

%selection {
    @each $mode in tokens.$contrastMode_all {
        @include colour-mode($mode, $includeDefault: false) {
            @include snippet-selection($mode);
        }
    }
}

@if config.$print_headings {
    /* ## Typography - Inline ==================================== */
}

%a {
    --icon-color: #{var-theme(link-icon)};
    --icon-vertical-align: sub;
    text-decoration-color: #{var-theme(link-ui)};

    transition: var(--transition);

    /// STATES ///

    &:visited {
        --icon-color: #{var-theme(link-icon-visited)};
        text-decoration-color: #{var-theme(link-ui-visited)};
    }

    @include hover-focus-visible() {
        --icon-color: #{var-theme(link-icon-hover)};
        text-decoration-color: #{var-theme(link-ui-hover)};
    }

    &:active {
        --icon-color: #{var-theme(link-icon-active)};
        text-decoration-color: #{var-theme(link-ui-active)};
    }

    /// EXCEPTIONS ///

    &.no-style {
    }

    &[target='_blank'] {
        &::after {
            @if config.$template_link_inlineIcons {
                @include snippet-icon-pseudo-element(external);
            }
        }
    }

    &[aria-disabled='true'] {
        --icon-color: #{var-theme(link-icon-disabled)};
        text-decoration-line: underline;
        text-decoration-color: #{var-theme(link-ui-disabled)};
        color: #{var-theme(link-disabled)};

        /// STATES ///

        @include hover-focus-visible() {
            --icon-color: #{var-theme(link-icon-hover)};
            text-decoration-color: #{var-theme(link-ui-hover)};
            color: #{var-theme(link-hover)};
        }

        &:active {
            --icon-color: #{var-theme(link-icon-active)};
            text-decoration-color: #{var-theme(link-ui-active)};
            color: #{var-theme(link-active)};
        }

        &::before {
            @if config.$template_link_inlineIcons {
                @include snippet-icon-pseudo-element(
                    forbidden,
                    $pseudo: before
                );
            }
        }

        &[target='_blank'] {
            &::after {
                @if config.$template_link_inlineIcons {
                    content: none;
                    display: none;
                }
            }
        }
    }
}

%abbr {
    &[title] {
        text-decoration: dotted underline #{var-stroke-relative('500')};
        text-decoration-color: #{var-theme(ui-primary)};
        text-underline-offset: #{var-stroke-relative('600')};
    }
}

@if config.$print_headings {
    /* ## Typography - Block ==================================== */
}

%aside {
    font-style: italic;
    color: #{var-theme(text-primary)};

    em {
        font-style: normal;

        em {
            font-style: italic;
        }
    }
}

%blockquote {
    border-inline-start-color: #{var-theme(ui-primary)};

    > p {
    }

    > cite {
        font-size: #{var-fs(smaller-1)};
        color: #{var-theme(text-primary)};

        &::before {
        }
    }
}

%code,
%kbd,
%pre,
%samp {
    --focus-ring-outline-color: #{var-theme(text-secondary)};
    color: #{var-theme(text-primary)};

    @if font-family-exists(monospace) {
        font-family: #{var-font-family(monospace)};
    }
}

%code,
%kbd,
%samp {
    display: inline;
    margin-inline: #{var-stroke-relative('400')};

    vertical-align: baseline;
    align-self: baseline;

    font-weight: 500;
    letter-spacing: -0.015em;
}

%code {
}

%pre {
    border-color: #{var-theme(ui-primary)};
    color: #{var-theme(text)};

    > code {
        font-weight: 400;
        color: inherit;
    }
}

@if config.$print_headings {
    /* ## Typography - Headings ==================================== */
}

@each $num in token-all-heading-levels() {
    //
    #{if( $num == 1, ('%h#{$num}', '%title'), '%h#{$num}' )} {
        @include snippet-heading($num);

        &--where {
            @include snippet-heading($num);
        }
    }
}

%page-subtitle {
    font-size: #{var-fs(heading-5)};
    color: #{var-theme(text-grey)};

    @include colour-mode-all {
        opacity: 1;
    }
}
