///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/list';

@use '../../../config';
// @use '../../../tokens';

// @use '../../../lib' as *;

@if config.$print_headings {
    /* # GLOBALS - OBJECTS
     * ======================================================================== */
}

%img,
%figure,
%svg {
    max-width: 100%;
}

%img,
%figure {
    object-fit: cover;
}
