///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'pkg:@maddimathon/utility-sass/list';
@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/selector';

@use '../../../config';
@use '../../../tokens';

@use '../../../lib' as *;

@if config.$print_headings {
    /* # GLOBALS - TYPOGRAPHY
     * ======================================================================== */
}

@if config.$include_html {
    %root {
        @if font-family-exists(body) {
            font-family: var-font-family(body);
        }
    }
}

%selection {
    @each $mode in tokens.$contrastMode_all {
        @include colour-mode($mode, $includeDefault: false) {
            @include snippet-selection($mode);
        }
    }
}

@if config.$print_headings {
    /* ## Typography - Inline ==================================== */
}

%a {
    &,
    &::before,
    &::after {
        transition: do-var(transition);
    }

    & {
        @include cx-prop(icon-vertical-align, sub);
        @include snippet-link-colours;
    }

    /// EXCEPTIONS ///

    &.no-style {
    }

    &[target='_blank'] {
        &::after {
            @if config.$template_link_inlineIcons {
                @include snippet-icon-pseudo-element(external) {
                    align-self: center;
                }
            }
        }
    }

    &[aria-disabled='true'] {
        &::before {
            @if config.$template_link_inlineIcons {
                @include snippet-icon-pseudo-element(forbidden, $pseudo: before) {
                    align-self: center;
                }
            }
        }
    }
}

%abbr {
    &[title] {
        text-decoration: dotted underline #{var-stroke-relative('500')};
        text-decoration-color: #{var-theme(ui-primary)};
        text-underline-offset: #{var-stroke-relative('600')};
    }
}

@if config.$print_headings {
    /* ## Typography - Block ==================================== */
}

@include set-default-margins;

%aside {
    font-style: italic;
    color: #{var-theme(text-primary)};

    em {
        font-style: normal;

        em {
            font-style: italic;
        }
    }
}

%blockquote {
    border-inline-start-color: #{var-theme(ui-primary)};

    @include set-default-margins('300');

    > cite {
        font-size: #{var-fs(smaller-1)};
        color: #{var-theme(text-primary)};

        &::before {
        }
    }
}

%code,
%kbd,
%pre,
%samp {
    @include cx-prop(focus-ring-outline-color, var-theme(text-secondary));
    @include cx-prop(icon-color, var-theme(text-primary));

    @if font-family-exists(monospace) {
        font-family: #{var-font-family(monospace)};
    }

    border-radius: #{var-style(button-border-radius)};
    background: #{var-theme(background-grey)};
    color: #{var-theme(text-primary)};

    %a & {
        color: inherit;
    }
}

%code,
%kbd,
%samp {
    display: inline;
    margin-block: 0;
    margin-inline: #{var-stroke-relative('400')};
    padding: 0 #{var-stroke-relative('600')};

    vertical-align: baseline;
    align-self: baseline;

    font-weight: 500;
    letter-spacing: -0.015em;
}

%pre {
    border-color: #{var-theme(ui-primary)};
    color: #{var-theme(text)};

    > %code,
    > %kbd,
    > %samp {
        font-weight: 400;
        border-radius: 0;
        background: transparent;
        color: inherit;
    }
}

@if config.$print_headings {
    /* ## Typography - Headings ==================================== */
}

@each $num in token-all-heading-levels() {
    //
    #{if( $num == 1, ('%h#{$num}', '%title'), '%h#{$num}' )} {
        @include snippet-heading($num);

        &--where {
            @include snippet-heading($num);
        }
    }
}

%page-subtitle {
    font-size: #{var-fs(heading-5)};
    color: #{var-theme(text-grey)};

    @include colour-mode-all {
        opacity: 1;
    }
}
