---
/**
 * @since ___PKG_VERSION___
 * 
 * @packageDocumentation
 */

/* import - types */

/* import - functions */
import { 
    getCollection,
    // getEntry,
    // render,
} from 'astro:content';
import * as z from 'zod';

import { relativeURL } from '../functions/relativeURL.js';

/* import - values */
import { astroCollectionSchema } from '../../ts/typedoc/index.js';

/* import - components */

/* import - layouts */
import DocsPage from '../layouts/DocsPage.astro';


/* TYPES ===================================== */

type CollectionTree = {
    href: string;
    title: string;
    children: CollectionTree[];

    data: z.infer<typeof astroCollectionSchema>;
};


/* CONSTANTS ===================================== */

function makeCollectionTree( collection: Awaited<ReturnType<typeof getCollection>> ): CollectionTree[] {

    return collection.map( _page => ( {

        href: relativeURL( Astro.url, `api/${_page.id}` ),
        title: _page.data.title,

        children: [],

        data: _page.data,
        
    } ) );
}


/* CONSTANTS ===================================== */

const pages = makeCollectionTree( await getCollection( 'api' ) );

---

<DocsPage title="Exports">
    <ul>
        { pages.map( page => (
            <li><a href={page.href} set:text={page.title} /></li>
        ) ) }
    </ul>
    <hr />
    <!-- { Content && <Content /> } -->
</Doc>