///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'utility-astro' as utils;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $template_button_inlineIcons to $include_button_inlineIcons and moved to template config.
///
$include_button_inlineIcons: utils.$include_html !default;

///
/// Whether to inlcude [x]-hsl values in colour/theme tokens.
///
/// @since ___PKG_VERSION___
///
$include_colourValues_hsl: utils.$include_html !default;

///
/// Whether to inlcude [x]-rgb values in colour/theme tokens.
///
/// @since ___PKG_VERSION___
///
$include_colourValues_rgb: false !default;

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $template_link_inlineIcons to $include_link_inlineIcons and moved to template config.
///
$include_link_inlineIcons: utils.$include_html !default;

///
/// Set in lib so that it can be used to set $internal_supressCredit.
///
/// @since ___PKG_VERSION___
///
$template_docBlock: utils.$isTemplate !default;

///
/// Removes the 'these styles include design-system-utilities' comment (for use
/// internally only).
///
/// @since ___PKG_VERSION___
/// @internal
///
$internal_supressCredit: $template_docBlock;

///
/// @since ___PKG_VERSION___
///
$regex_themeTokenGreyVariations: null !default;
$regex_themeTokenGreyVariations: utils.config-valid-string(
    $regex_themeTokenGreyVariations,
    'regex_themeTokenGreyVariations',
    $default: '\\b(grey|bright|base)\\b'
);

///
/// @since ___PKG_VERSION___
///
$regex_themeTokenGreyVariations_flags: null !default;
$regex_themeTokenGreyVariations_flags: utils.config-valid-string(
    $regex_themeTokenGreyVariations_flags,
    'regex_themeTokenGreyVariations_flags',
    $default: 'gi'
);

///
/// The regex for theme keys to set for children only.
///
/// @since ___PKG_VERSION___
///
$regex_themeTokenSetChildrenOnly: null !default;
$regex_themeTokenSetChildrenOnly: utils.config-valid-string(
    $regex_themeTokenSetChildrenOnly,
    'regex_themeTokenSetChildrenOnly',
    $default:
        '^((button-([a-z]+)|link)-outline(-(active|disabled|hover|visited))?)(-(hsl|rgb|-\\d+))?$'
);

///
/// @since ___PKG_VERSION___
///
$regex_themeTokenSetChildrenOnly_flags: null !default;
$regex_themeTokenSetChildrenOnly_flags: utils.config-valid-string(
    $regex_themeTokenSetChildrenOnly_flags,
    'regex_themeTokenSetChildrenOnly_flags',
    $default: 'gi'
);

///
/// @since ___PKG_VERSION___
///
$regex_tokenFlowMargins: null !default;
$regex_tokenFlowMargins: utils.config-valid-string(
    $regex_tokenFlowMargins,
    'regex_tokenFlowMargins',
    $default: '(^|-)flow-margin(-|$)|^widget-button-span-gap$'
);

///
/// @since ___PKG_VERSION___
///
$regex_tokenFlowMargins_flags: null !default;
$regex_tokenFlowMargins_flags: utils.config-valid-string(
    $regex_tokenFlowMargins_flags,
    'regex_tokenFlowMargins_flags',
    $default: 'i'
);
