///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/map';

// @use '../../../lib' as *;

@use '../config';

@if config.$template_include_cssHeadings {
    /* # UTILITIES - TYPOGRAPHY
     * ======================================================================== */
}

%text-align-start {
    // text-align: left;
    text-align: start;
}

%text-align-center {
    text-align: center;
}

%text-align-end {
    // text-align: right;
    text-align: end;
}
