///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/list';
@use 'pkg:@maddimathon/utility-sass/map';

@use '../../../lib' as *;

@use '../config';
@use '../../../tokens';

@if config.$template_cssHeadings {
    /* # UTILITIES - LAYOUT
     * ======================================================================== */
}

%overflow-inline-auto {
    overflow-inline: auto;
    max-width: 100%;
}

%overflow-block-auto {
    overflow-block: auto;
    max-width: 100%;
}

@each $slug in map.keys(tokens.$widths) {
    %min-width-#{$slug} {
        min-width: #{var-width($slug)};
    }
    %max-width-#{$slug} {
        max-width: #{var-width($slug)};
    }
}

@each $slug in (auto, fit-content, none) {
    %min-width-#{$slug} {
        min-width: #{$slug};
    }
    %max-width-#{$slug} {
        max-width: #{$slug};
    }
}

@each $bp in map.keys(tokens.$breakpoints) {
    %breakpoint-min-width-#{$bp} {
        display: none !important;

        @include min-width($bp) {
            display: #{do-var(display, block)} !important;
        }
    }

    %breakpoint-max-width-#{$bp} {
        display: none !important;

        @include max-width($bp) {
            display: #{do-var(display, block)} !important;
        }
    }
}
