///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/colour';
// @use 'pkg:@maddimathon/utility-sass/list';
// @use 'pkg:@maddimathon/utility-sass/map';
// @use 'pkg:@maddimathon/utility-sass/math';
// @use 'pkg:@maddimathon/utility-sass/meta';
// @use 'pkg:@maddimathon/utility-sass/selector';
// @use 'pkg:@maddimathon/utility-sass/string';

@use '../lib';

/* # COLOUR SWATCH LIST ==================================== */

:global(:where(.js)) {
    .shades-list-toggle {
        --test: 'not global styles';

        &[data-toggle-container],
        &[data-toggle-container='open'] {
            --test: 'not global styles';

            > :global([data-toggle-content]) {
                --test: 'not global styles';
                border-inline: none;
                border-block-end: none;
                grid-column: 1 / -1;

                > :global(.container) {
                    grid-column: 1 / -1;
                    padding: 0;
                }
            }
        }
    }
}

@include lib.extend-selectors;
