///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../template/default' with (
    $isTemplate: true !default,

    $template_name: 'Default Template' !default,
    $template_description:
        'This is a sample stylesheet using the template with no changes to the default configuration (except $template_globals: true, $template_tokens: true, and $template_utils: true, $template_astro: true).'
        !default,

    $template_title_base: 'Template Demo' !default,

    $template_globals: true !default,
    $template_tokens: true !default,
    $template_utils: true !default,
    $template_astro: true !default,

    $internal_designSystem_stylesheetPath: false
);
