///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/colour';
// @use 'pkg:@maddimathon/utility-sass/list';
// @use 'pkg:@maddimathon/utility-sass/map';
// @use 'pkg:@maddimathon/utility-sass/math';
// @use 'pkg:@maddimathon/utility-sass/meta';
// @use 'pkg:@maddimathon/utility-sass/selector';
// @use 'pkg:@maddimathon/utility-sass/string';

@use '../lib';

/* # PAGE CONTENT - THEME ==================================== */

:global(:where(.js)) {
    .theme-mode-toggle {
        &[data-toggle-container],
        &[data-toggle-container='open'] {
            > :global([data-toggle-content]) {
                // border-inline: none;
                // border-block-end: none;
                grid-column: 1 / -1;

                > :global(.container) {
                    grid-column: 1 / -1;
                    justify-content: start;
                    align-content: stretch;
                    align-items: stretch;

                    padding: 0;

                    .theme-mode-toggle__list {
                        display: grid;
                        grid-template-columns: repeat(
                            var(--theme-mode-swatch-list-column-count),
                            minmax(16rem, 1fr)
                        );
                        grid-template-rows: auto;
                        grid-auto-flow: column;

                        justify-content: stretch;
                        justify-items: stretch;
                        align-content: start;
                        align-items: start;

                        padding: 0;

                        overflow-inline: auto;

                        :global(.theme-mode-swatch) {
                            padding: #{lib.var-mrg-soft('400')}
                                #{lib.var-mrg-firm('400')};

                            min-width: 0;
                            max-width: none;
                        }
                    }
                }
            }
        }
    }
}

@include lib.extend-selectors;
