///
/// Variables before the utility-astro lib is loaded.
///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/config/functions' as fns;

///
/// Whether to include ouput only suited for websites.
///
/// @since ___PKG_VERSION___
///
$include_html: false !default;

///
/// NOTE: setting this to true will disabled variable line-height values for
/// font-family overrides.
///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_borderWidth: not $include_html !default;

///
/// NOTE: this also disables font sizes that scale with vw, since those are only
/// set via property to allow for clamp() fallbacks.
///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_fontSize: not $include_html !default;

///
/// NOTE: setting this to true will disabled variable line-height values for
/// font-family overrides.
///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_strokeRelative: not $include_html !default;
