///
/// Variables before the utility-astro lib is loaded.
///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha.8
///

@use 'pkg:@maddimathon/utility-sass/config/functions' as fns;

///
/// Whether to include ouput only suited for websites.
///
/// @since 0.1.0-alpha.8
///
$include_html: false !default;
$include_html: fns.config-valid-bool($include_html, 'include_html');
