///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'sass:map';

@use '_pre' as pre;

@forward 'pkg:@maddimathon/utility-astro/config' with (
    $include_html: pre.$include_html,

    $internal_supressCredit: true,

    $selectorType_mode: 'null' !default,
    $selectorType_motion: 'null' !default,

    $math_fontSize_roundingFactor: 16 !default,

    $math_clampFontSize_multiplier_max: 1.1875 !default,
    $math_clampFontSize_multiplier_min: 0.875 !default,

    $fn_borderWidthValue_roundToPixelFactor: 16 !default,
    $fn_lineHeightValue_roundToPixelFactor: 16 !default,

    $fn_var_replaceWithValue_resist: pre.$fn_var_replaceWithValue_resist,

    $fn_var_replaceWithValue_borderWidth: pre.$fn_var_replaceWithValue_borderWidth,
    $fn_var_replaceWithValue_fontSize: pre.$fn_var_replaceWithValue_fontSize,
    $fn_var_replaceWithValue_gap: not pre.$include_html !default,
    $fn_var_replaceWithValue_lineHeight: not pre.$include_html !default,
    $fn_var_replaceWithValue_margin: not pre.$include_html !default,
    $fn_var_replaceWithValue_strokeRelative: pre.$fn_var_replaceWithValue_strokeRelative,
    $fn_var_replaceWithValue_width: not pre.$include_html !default,

    // $mx_colourMode_includeNoPreferenceQueries: true !default,
    $mx_extendSelectors_headingsByRole: pre.$include_html !default,

    $mx_normalizeOrReset_includeFontFamily: false,
    $mx_normalizeOrReset_includeFontSize: false,
    //
     //
);
