///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/map';

// @use 'system';

$internal_customTokensDefault: () !default;

$internal_customTokensDefault: map.merge(
    (
        focus-ring: (
            outline-width: '400',
            outline-offset: '400',
            outline-color: currentColor,
        ),

        icon: (
            color: currentColor,
            inline-buffer: 0.125em,
            vertical-align: middle,
            size: (
                '$': 1.375em,
                pseudo: 1em,
            ),
        ),
    ),
    $internal_customTokensDefault,
    $recursive: true
);

$customTokens: () !default;

$customTokens: map.merge(
    map.flatten($internal_customTokensDefault),
    map.flatten($customTokens),
    $recursive: false
);
