///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/map';

@use 'default';

$internal_customTokensDefault: () !default;

$internal_customTokensDefault: map.merge(
    (
        'focus-ring-outline-width': 0.25rem,
        'focus-ring-outline-offset': 0.25rem,
    ),
    map.flatten($internal_customTokensDefault),
    $recursive: false
);

$customTokens: () !default;

$customTokens: map.merge(
    $internal_customTokensDefault,
    map.flatten($customTokens),
    $recursive: false
);
