///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/map';

@use 'system';

$_theme_ui_base: var(
    --theme-ui,
    var(
        --clr-#{map.get(system.$themes, default, light, average, ui, '$')},
        currentColor
    )
);

$_theme_ui_primary: var(
    --theme-ui-primary,
    var(
        --clr-#{map.get(system.$themes, default, light, average, ui, primary)},
        currentColor
    )
);

$_theme_text_primary: var(
    --theme-text-primary,
    var(
        --clr-#{map.get(system.$themes, default, light, average, text, primary)},
        currentColor
    )
);

$internal_customTokensDefault: () !default;

$internal_customTokensDefault: map.merge(
    (
        focus-ring: (
            outline-width: '400',
            outline-offset: '400',
            outline-color: currentColor,
        ),

        alert: (
            color: (
                border: $_theme_ui_primary,
                icon: $_theme_ui_primary,
                text: $_theme_text_primary,
            ),

            icon-size: 1.125em,
        ),

        icon: (
            color: $_theme_ui_base,
            inline-buffer: 0.125em,
            vertical-align: middle,
            size: (
                '$': 1.375em,
                pseudo: 1em,
            ),
        ),
    ),
    $internal_customTokensDefault,
    $recursive: true
);

$customTokens: () !default;

$customTokens: map.merge(
    map.flatten($internal_customTokensDefault),
    map.flatten($customTokens),
    $recursive: false
);
