///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/list';
@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/meta';

@use '../config';
@use 'default';

$_themeNames: map.keys(default.$themes);
$_defaultThemeName: list.nth($_themeNames, 1);

$activeTheme: null !default;
$activeTheme: config.config-valid-string(
    $activeTheme,
    'activeTheme',
    $default: $_defaultThemeName,
    $options: $_themeNames
);

$_brightnessMode_options: ('light', 'dark');
$_contrastMode_options: ('average', 'low', 'high', 'forced-colors');

$brightnessMode_all: list.except(
    map.keys(map.get(default.$themes, $activeTheme)),
    'forced-colors'
);

$brightnessMode_default: null !default;
$brightnessMode_default: config.config-valid-string(
    $value: $brightnessMode_default,
    $name: 'brightnessMode_default',
    $default: list.nth($brightnessMode_all, 1),
    $options: $brightnessMode_all,
);

$contrastMode_all: list.join(
    map.keys(map.get(default.$themes, $activeTheme, $brightnessMode_default)),
    ('forced-colors')
);

$contrastMode_default: null !default;
$contrastMode_default: config.config-valid-string(
    $value: $contrastMode_default,
    $name: 'contrastMode_default',
    $default: list.nth($contrastMode_all, 1),
    $options: $contrastMode_all,
);
