///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:map';

@use 'default';

@forward 'pkg:@maddimathon/utility-sass/tokens' with (
    $font_sizes: map.get(default.$font, size),
    $line_heights: default.$line_height,
    $margins: default.$margin,
    $scale_multiplier: default.$spacing_multiplier
);
