///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward 'system';

@forward 'functions';

// deps on theme
@forward 'custom';

// deps on system, theme, custom
@forward 'utility-astro' hide $atProperties, $border_width, $brightnessMode_all,
    $brightnessMode_default, $brightnessMode_options, $contrastMode_all, $contrastMode_default,
    $contrastMode_options, $fontSize_base, $font_size, $line_height, $lineHeight_base,
    $lineHeight_multiplier, $margin, $margin_base, $margin_multiplier, $margin_softener,
    $stroke_relative, $style, tokens-get-at-properties;

@use '../config';

$heightNavPrimary: null !default;
$heightNavPrimary: config.config-valid-number(
    $heightNavPrimary,
    'heightNavPrimary',
    $default: 3.25rem,
    $min: 2rem,
    $unit: 1rem
);

$heightNavPrimary_wide: null !default;
$heightNavPrimary_wide: config.config-valid-number(
    $heightNavPrimary_wide,
    'heightNavPrimary_wide',
    $default: $heightNavPrimary,
    $min: 2rem,
    $unit: 1rem
);
