///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward 'system';

@forward 'custom';

@forward 'theme';

@forward 'utility-astro' hide $brightnessMode_all, $brightnessMode_default,
    $contrastMode_all, $contrastMode_default, $customTokens,
    $internal_customTokensDefault;
