///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'utility-astro' hide $font_sizes, $line_heights, $margins,
    $scale_multiplier, $brightnessMode_all, $brightnessMode_default,
    $contrastMode_all, $contrastMode_default;

@forward 'default';
@forward 'theme';
