///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'utility-sass' hide $font_sizes, $line_heights, $margins,
    $scale_multiplier;
@forward 'default';
