///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'custom';
@forward 'system';
@forward 'theme';

@forward 'utility-astro' hide $brightnessMode_all, $brightnessMode_default,
    $contrastMode_all, $contrastMode_default, $customTokens,
    $internal_customTokensDefault;
