///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'sass:map';

@use '_pre' as pre;

@forward 'pkg:@maddimathon/utility-astro/config/lib' with (
    $include_html: pre.$include_html,

    $internal_supressCredit: true,

    $selector_headingsByRole: pre.$include_html !default,

    $selectorType_mode: 'null' !default,
    $selectorType_motion: 'null' !default
);
