///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @forward 'pkg:@maddimathon/utility-sass/notice';
// @forward 'pkg:@maddimathon/utility-astro/notice';

@forward '00-abstracts';

@forward 'pkg:@maddimathon/utility-astro/template/content';

@forward '01-globals';
@forward '02-layouts';
@forward '03-utilities';
@forward '04-components';
