///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../../scss/template/docs' with (
    $include_colourValues_hsl: true,
    $include_colourValues_rgb: false,

    $template_print_docBlock: false,

    $fn_var_replaceWithValue_colour: false,
    $fn_var_replaceWithValue_style: true
);
