///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../../scss/template/docs' with (
    $print_templateDocBlock: false,
    $template_internal_supressCredit: false
);
