///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../scss/templates/base' with (
    $breakpoints: (
        'tablet': 44,
    )
    !default,
    $scale_multiplier: 1.15625 !default
);
