///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_header';
@forward '_template';

// TODO: remove testing
// @use 'utils';

// test.design-system-utilities.docs {
//     /* this is a test of utils.$scale_multiplier */
//     --content: #{utils.$scale_multiplier};
// }

// @include utils.min-width(tablet) {
//     test.design-system-utilities.docs {
//         /* I am inside a min-width( tablet ) mixin from utility-sass */
//     }
// }
