///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_header';
@forward '_template';

.theme-mode-swatch__sample--selection {
    @extend %selection;
}
