///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'config';

@if not config.$internal_supressCredit {
    /*!
     * Design System Utilities — Sass Templates — Global
     * 
     * @maddimathon/design-system-utilities@___CURRENT_VERSION___
     * 
     * Author: Maddi Mathon (www.maddimathon.com)
     * License: MIT
     */
}
