///
/// Used in subdirs to easily reference the lib.
///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../template/docs/config';
@forward '../tokens';

@forward '../lib';
