///
/// Used in subdirs to easily reference the lib.
///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../templates/docs/config';
@forward '../templates/docs/tokens';

@forward '../notice';

@forward '../templates/docs/lib';

@use '../templates/docs/config';
@use '../templates/docs/lib' as *;

@mixin extend-selectors($additional: ()) {
    @include config.print-globals {
        @include extend-selector-globals(
            $optional: true,
            $additional: $additional
        );
    }

    @include config.print-utils {
        @include extend-selector-utils(
            $optional: true,
            $additional: $additional
        );
    }
}
