///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';
@use '../config';

/* # CONTRAST RESULT ==================================== */

.contrast-alert {
    @include lib.cx-prop(icon-color, currentColor);
    display: flex;
    flex-direction: column;
    width: fit-content;

    justify-content: start;
    align-content: center;
    align-items: center;

    line-height: #{lib.var-line-height('100')};
    font-size: inherit;

    color: var(
        --#{config.$cxPropPre}shade-swatch-color-override,
        var(--#{config.$cxPropPre}contrast-alert-color)
    );

    > * {
        color: inherit;
    }

    .icon {
        height: 1.25em;
    }

    &[data-brightness-mode] {
        background: transparent;
    }
}

@include lib.extend-selectors($optional: true);
