///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';

/* # PAGE CONTENT - COLOUR ==================================== */

:global(:where(.js)) {
    .shades-list-toggle {
        &[data-toggle-container],
        &[data-toggle-container='open'] {
            > :global([data-toggle-content]) {
                border-inline: none;
                border-block-end: none;

                > :global(.container) {
                    padding: 0;
                }
            }
        }
    }

    :global(.table-of-contents) {
        max-width: #{lib.var-width(content)};
    }
}

@include lib.extend-selectors($optional: true);
