///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';
@use '../config';

@use 'pkg:@maddimathon/utility-sass/feature-check';

/* # FONT FAMILY SWATCH LIST ==================================== */

$_fontWeights: ('100', '200', '300', '400', '500', '600', '700', '800', '900');

$_grid_rows: '[intro] auto';

@each $weight in $_fontWeights {
    @each $suffix in ('', '-italic') {
        $_grid_rows: '#{$_grid_rows} [term-#{$weight}#{$suffix}] auto';
        $_grid_rows: '#{$_grid_rows} [def-#{$weight}#{$suffix}] auto';
    }
}

%_grid-base {
    @include lib.cx-prop(display, grid);
    display: grid;

    justify-content: stretch;
    justify-items: start;
    align-items: first baseline;

    margin: 0;
    gap: 0;
}

.font-family-swatch-list {
    @extend %_grid-base;
    grid-template-columns: repeat(
        lib.do-var(font-family-list-column-count, auto-fill),
        minmax(22rem, 1fr)
    );
    grid-auto-rows: auto;
    grid-auto-flow: row;

    margin-block-start: #{lib.var-mrg-firm('400')};
    padding: 0;

    overflow-inline: auto;

    .font-family-swatch {
        @extend %_grid-base;
        grid-template-columns: 1fr;
        grid-template-rows: #{$_grid_rows};

        padding: #{lib.var-mrg-soft('200')} #{lib.var-mrg-firm('300')};

        min-width: 0;
        max-width: none;

        &,
        & * {
            font-family: lib.do-var(font-family-swatch-family) !important;
        }

        > * {
            grid-column: 1 / -1;
        }

        .font-family-swatch__name,
        .font-family-swatch__details-list,
        .font-family-swatch__weight-dt,
        .font-family-swatch__weight-dd {
        }

        .font-family-swatch__intro {
            margin-block-start: 0;
            grid-row: intro;
        }

        .font-family-swatch__name {
            margin-block-start: 0;
        }

        .font-family-swatch__details-list {
            margin: 0;
            margin-block-start: #{lib.var-mrg-soft('500')};

            > dt,
            > dd {
                margin: 0;
            }

            > dt {
                margin-block-start: #{lib.var-mrg-soft('400')};

                &:first-child {
                    margin-block-start: 0;
                }
            }

            + .font-family-swatch__weight-dt {
                margin-block-start: #{lib.var-mrg-soft('600')};
            }
        }

        .font-family-swatch__weight-dt,
        .font-family-swatch__weight-dd {
            margin: 0;
        }

        .font-family-swatch__weight-dt {
            margin-block-start: #{lib.var-mrg-soft('400')};
        }

        .font-family-swatch__weight-dd {
            display: -webkit-inline-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: lib.do-var(line-clamp, 3);
            line-clamp: lib.do-var(line-clamp, 3);
            overflow: hidden;

            margin-block-start: #{lib.var-mrg-soft('200')};
            line-height: #{lib.var-line-height('400')};
            font-size: #{lib.var-fs(normal)};
        }

        @each $weight in $_fontWeights {
            .font-family-swatch__weight-dt--#{$weight} {
                grid-row: term-#{$weight};
            }

            .font-family-swatch__weight-dd--#{$weight} {
                grid-row: def-#{$weight};
            }

            .font-family-swatch__weight-dt--#{$weight}-italic {
                grid-row: term-#{$weight}-italic;
            }

            .font-family-swatch__weight-dd--#{$weight}-italic {
                grid-row: def-#{$weight}-italic;
            }
        }
    }
}

:global(#{feature-check.get-selector( subgrid, true )}) {
    //
    .font-family-swatch-list {
        grid-template-rows: #{$_grid_rows};

        .font-family-swatch {
            grid-template-rows: subgrid;
            grid-row: 1 / -1;
        }
    }
}

@include lib.extend-selectors($optional: true);
