///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';

/* # PAGE CONTENT - COLOUR ==================================== */

.tokens-demo-all-icons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    margin-block: #{lib.var-mrg-firm('300')} #{lib.var-mrg-half('300')};
    margin-inline: 0;
    padding: 0;

    gap: #{lib.var-mrg-firm('300')};

    li {
        display: block;
        margin: 0;
        padding: 0;
    }
}

@include lib.extend-selectors($optional: true);
