///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';
// @use 'lib/config';

/* # PAGE CONTENT - COLOUR ==================================== */

.tokens-demo-all-icons {
    @include lib.prop-display(flex);
    flex-wrap: wrap;
    list-style: none;

    // margin-block: lib.do-var(flow-margin-firm-start--small) lib.do-var(flow-margin-firm-end--small);
    margin-inline: 0;
    padding: 0;

    // gap: lib.do-var(flow-margin);

    li {
        @include lib.prop-display(block);
        margin: 0;
        padding: 0;
    }

    &--basic {
        @include lib.cx-prop(icon-size, lib.var-style(icon-size-large));
    }
}

.tokens-demo-all-alerts {
    @include lib.prop-display(flex);
    flex-wrap: wrap;

    justify-content: center;
    align-content: start;
    align-items: start;

    margin-block: lib.do-var(flow-margin-firm-start--small) lib.do-var(flow-margin-firm-end--small);
    margin-inline: 0;
    padding: 0;

    gap: 0 lib.do-var(flow-margin);
}

.tokens-demo-all-icons-inline {
    list-style: none;

    .tokens-demo-all-icons-inline--icon-list {
        margin-inline: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;

        list-style: none;
        text-align: center;

        gap: lib.var-mrg-soft('200') lib.var-mrg-firm('200');

        li {
            margin: 0;
            padding: 0;

            color: lib.var-theme(text) !important;
        }
    }

    &.tokens-demo-all-icons-inline--buttons {
        .tokens-demo-all-icons-inline--icon-list {
            justify-content: center;
            gap: lib.do-var(flow-margin-firm-start--small);
        }
    }

    &.tokens-demo-all-icons-inline--buttons-embedded {
        .tokens-demo-all-icons-inline--icon-list {
            // justify-content: space-between;
        }
    }
}

@include lib.extend-selectors;
