///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';
@use '../config';

@use 'pkg:@maddimathon/utility-sass/meta';
@use 'pkg:@maddimathon/utility-sass/selector';

/* # COLOUR TABLE ==================================== */

%label {
    width: fit-content;
    justify-self: end;
}

$_contrastColWidth: minmax(3.5ch, min-content);

.shade-swatch-table__wrapper {
    > :global(table) {
        width: 100%;
        border-spacing: 0;
        font-size: #{lib.var-fs(smaller-3)};

        :global(th),
        :global(td) {
            padding: 0;
            min-width: 0;
        }
    }

    > :global(table[data-shade-swatch-table-no-text='true']) {
        @include lib.cx-prop(shade-swatch-color-override, transparent !important);
        @include lib.cx-prop(shade-swatch-display-override, none !important);
    }

    :global(td) {
        :global(.shade-swatch) {
            min-width: 3rem;
            min-height: 6rem;
            min-height: min(6rem, 9svh);
        }
    }

    :global(.shade-swatch) {
        padding: #{lib.var-mrg-soft('100')} #{lib.var-mrg-firm('200')};
        gap: #{lib.var-mrg-soft('100')} #{lib.var-mrg-firm('100')};

        :global(.shade-swatch__colour-value) {
            font-size: #{lib.var-fs(smaller-3)};
            text-wrap: nowrap;
        }

        :global(.shade-swatch__contrast),
        :global(.shade-swatch__contrast__result-group),
        :global(.shade-swatch__contrast__result-group__single-min-max) {
            gap: #{lib.var-mrg-soft('100')} #{lib.var-mrg-firm('100')};
        }

        :global(.shade-swatch__contrast) {
            display: lib.do-var(shade-swatch-display-override, grid);
            margin-block-start: #{lib.var-mrg-firm('200')};
            font-size: #{lib.var-fs(smaller-3)};
        }

        :global(.shade-swatch__contrast__result-group),
        :global(.shade-swatch__contrast__result-group__single-min-max) {
            grid-template-rows: auto;
            justify-content: space-between;
            justify-items: start;
        }

        :global(.shade-swatch__contrast__result-group) {
            grid-template-columns: repeat(5, #{$_contrastColWidth});
        }

        :global(.shade-swatch__contrast__result-group__single-min-max) {
        }

        :global(.shade-swatch__contrast__result-group__single-min-max--minimum),
        :global(.shade-swatch__contrast__result-group__single-min-max--maximum) {
        }

        :global(.shade-swatch__contrast__result-group__single-min-max--minimum) {
            grid-template-columns: repeat(2, #{$_contrastColWidth});
            grid-template-columns: subgrid;

            :global(.shade-swatch__contrast__result-group__alert--minimum--ui) {
                grid-column: 1;
            }

            :global(.shade-swatch__contrast__result-group__alert--minimum--text) {
                grid-column: 2;
            }
        }

        :global(.shade-swatch__contrast__result-group__single-min-max--minimum--aa) {
            grid-column: 1 / 3;
        }

        :global(.shade-swatch__contrast__result-group__single-min-max--minimum--aaa) {
            grid-column: 3 / 5;
        }

        :global(.shade-swatch__contrast__result-group__single-min-max--maximum) {
            @include lib.cx-prop(
                shade-swatch-contrast-result-group-single-min-max-column-count,
                1 !important
            );
            grid-column: 5;
        }
    }
}

.shade-swatch-table__display-control__label {
    margin-block-start: #{lib.var-mrg-soft('400')};

    + .shade-swatch-table__wrapper {
        margin-block-start: #{lib.var-mrg-firm('200')};
    }
}

@include lib.extend-selectors($optional: true);
