///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';

/* # COLOUR SWATCH LIST ==================================== */

.shade-swatch-list {
    --display: grid;
    display: grid;
    grid-template-columns: repeat(
        var(--shade-swatch-list-column-count, auto-fill),
        max-content
    );
    grid-template-rows: auto;
    grid-auto-flow: column;

    gap: 0;
    margin-block-start: #{lib.var-mrg-firm('400')};

    overflow-inline: auto;

    :global(.shade-swatch) {
        min-width: 0;
        max-width: none;
    }
}

@include lib.extend-selectors($optional: true);
