///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib/config';
@use 'lib' as *;

@use 'pkg:@maddimathon/utility-sass/selector';

/* # COLOUR SHADE SWATCH ==================================== */

$_default_resultGroup_colCount: 6;

$_var_contrastResultGroupColumnCount: do-var(
    shade-swatch-contrast-result-group-column-count,
    $_default_resultGroup_colCount
);

.shade-swatch {
    @include prop-display(flex);
    flex-direction: column;

    padding-block: var-mrg-soft('200');
    padding-inline: var-mrg-firm('300');
    gap: do-var(flow-margin--small) var-mrg-firm('200');

    font-size: var-fs(smaller-1);

    @include prop-background(do-var(shade-swatch-background), $important: true);
    color: do-var(shade-swatch-color-override, do-var(shade-swatch-color));

    > :global(:where(*)) {
        margin: 0;
    }

    > :global(*) {
        display: do-var(shade-swatch-display-override, block);
        color: inherit;
    }

    :global(.shade-swatch__colour-value) {
        margin: 0;
        padding: 0;

        align-self: stretch;
        justify-self: stretch;

        border: none;
        font-size: 1em;
        line-height: var-line-height('100');

        :global(strong) {
            font-weight: 500;
        }
    }

    :global(.shade-swatch__name) {
        $_allHeadingSels: (selector.unify(&, '%title'));

        @at-root #{$_allHeadingSels} {
            font-size: var-fs(heading-2);
        }

        @each $num in token-all-heading-levels() {
            $__tmp: selector.unify(&, '%h#{$num}');

            $_allHeadingSels: ($_allHeadingSels, $__tmp);

            @at-root #{$__tmp} {
                font-size: var-fs(heading-#{$num});
            }
        }

        @at-root #{$_allHeadingSels} {
            text-transform: none;
            @include set-font-style(normal, $letterSpacing: normal, $setChildren: true);

            :global(.shade-swatch-table__wrapper) & {
                font-weight: 700;
                font-size: var-fs(heading-10);
            }
        }
    }

    /// ## CONTRAST ==================================== ///

    :global(.shade-swatch__contrast) {
        @include prop-display(flex);
        flex-direction: column;
        gap: var-mrg-half('200') var-mrg-firm('200');
        font-size: var-fs(smaller-2);
    }

    :global(.shade-swatch__contrast[data-brightness-mode]) {
        background: transparent;
    }

    /// ### Result Groups ------------------ ///

    :global(.shade-swatch__contrast__result-group),
    :global(.shade-swatch__contrast__result-group__single-min-max) {
        grid-auto-flow: row;

        justify-content: space-between;
        justify-items: center;
        align-content: start;
        align-items: start;

        gap: var-mrg-soft('200') var-mrg-firm('300');
    }

    :global(.shade-swatch__contrast__result-group) {
        @include prop-display(grid);
        grid-template-columns: repeat($_var_contrastResultGroupColumnCount, min-content);
        grid-template-rows: auto auto;

        > :global(.shade-swatch__contrast__heading) {
            @include prop-grid-column(span $_var_contrastResultGroupColumnCount);
        }
    }

    :global(.shade-swatch__contrast__heading),
    :global(.shade-swatch__contrast__result-group__heading) {
        line-height: var-line-height('100');
        text-align: center;
    }

    @include colour-mode((low, average), $unifySelectors: false) {
        :global(.shade-swatch__contrast__heading),
        :global(.shade-swatch__contrast__result-group__heading) {
            color: do-var(
                shade-swatch-color-override,
                do-var(shade-swatch-contrast-result-group-heading-color)
            );
        }

        &[data-shade-swatch-has-background='true'] {
            :global(
                .shade-swatch__contrast__heading[data-contrast-result-group-has-heading-color='true']
            ),
            :global(
                .shade-swatch__contrast__result-group__heading[data-contrast-result-group-has-heading-color='true']
            ) {
                margin-block: do-var(flow-margin-firm-start--small)
                    do-var(flow-margin-firm-end--small);

                padding: var-stroke-relative('200');

                font-weight: 500;

                @include prop-background(
                    do-var(shade-swatch-contrast-result-group-heading-color, var-theme(text))
                );

                color: do-var(
                    shade-swatch-color-override,
                    do-var(shade-swatch-background, var-theme(background))
                );
            }
        }
    }

    :global(.shade-swatch__contrast__heading) {
        margin-block-start: do-var(flow-margin-firm-start--small);
        font-size: var-fs(smaller-2);

        + :global(.shade-swatch__contrast__result-group) {
        }
    }

    :global(.shade-swatch__contrast__result-group--min-max) {
        justify-content: space-around;
    }

    :global(.shade-swatch__contrast__result-group--all-shades) {
        grid-template-rows: auto repeat(
                do-var(shade-swatch-contrast-result-group-row-count, 2),
                auto
            );
    }

    :global(.shade-swatch__contrast__result-group__heading) {
        @include prop-grid-column(span $_var_contrastResultGroupColumnCount);
        margin: 0;
        font-size: var-fs(smaller-3);
    }

    :global(.shade-swatch__contrast__result-group__heading--maximum) {
        text-transform: lowercase;
    }

    :global(.shade-swatch__contrast__result-group__heading--all-shades) {
        text-transform: lowercase;
    }

    :global(.shade-swatch__contrast__result-group__single-min-max) {
        grid-column: span do-var(shade-swatch-contrast-result-group-single-min-max-column-count, 1);

        @include prop-display(grid);
        grid-template-columns: repeat(
            do-var(shade-swatch-contrast-result-group-single-min-max-column-count),
            max-content
        );

        grid-template-rows: auto auto;
        justify-content: center;

        :global(.shade-swatch__contrast__result-group__heading) {
            grid-column: span
                do-var(shade-swatch-contrast-result-group-single-min-max-column-count, 1);
        }

        :global(.contrast-alert) {
        }
    }
}

@include extend-selectors;
