///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'lib';

@use 'pkg:@maddimathon/utility-sass/selector';

/* # THEME MODE SWATCH ==================================== */

.theme-mode-swatch {
    display: flex;
    position: relative;
    flex-direction: column;

    justify-content: start;
    align-content: start;
    align-items: start;

    gap: 0;

    > :first-child {
        margin-block-start: 0;
    }

    .theme-mode-swatch__sample {
        margin-block-start: #{lib.var-mrg-soft('200')};
        line-height: #{lib.var-line-height('200')};
        font-size: #{lib.var-fs(smaller-1)};

        %code,
        %kbd,
        %samp {
            margin: 0;
            padding: 0;
            background: transparent;
            border: none;
            color: inherit;
        }
    }

    input.theme-mode-swatch__sample {
        font-size: #{lib.var-fs(normal)};
    }

    .theme-mode-swatch__button-span {
        margin-block: #{lib.var-mrg-firm('300')} #{lib.var-mrg-half('300')};
        gap: #{lib.var-mrg-firm('300')} #{lib.var-mrg-firm('400')};

        > %button {
            margin: 0;
        }
    }

    :global(.table-wrapper):has(> table.theme-mode-swatch__shades-in-use) {
        margin-block-start: #{lib.var-mrg-firm('100')};
        background: #{lib.var-theme(background)};

        > :global(table.theme-mode-swatch__shades-in-use) {
            border-spacing: 0;

            :global(th) {
                padding-inline: 0;
                background: #{lib.var-theme(background)};
                color: #{lib.var-theme(text)};
            }
        }
    }

    %code,
    %kbd,
    %pre,
    %samp {
        color: inherit;
    }
}

@include lib.extend-selectors($optional: true);
