///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../../config';

@use 'pkg:@maddimathon/utility-sass/list';
@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/math';
@use 'pkg:@maddimathon/utility-sass/meta';

@use '../00-default' as default;

// has to be set early
$spacing_multiplier: map.get(default.$designSystem, spacing_multiplier);

// #region - BORDERS
$border: map.ksort(map.get(default.$designSystem, border), $recursive: true);

$border_width: map.get($border, width);

@each $key, $size in $border_width {
    $border_width: map.set(
        $border_width,
        $key,
        math.round-to-pixel($size, $factor: config.$fn_borderWidthValue_roundToPixelFactor)
    );
}

$stroke_relative: map.get($border, stroke);

@each $key, $size in $stroke_relative {
    $stroke_relative: map.set(
        $stroke_relative,
        $key,
        math.round-to-pixel($size, $factor: config.$fn_strokeRelativeValue_roundToPixelFactor)
    );
}
// #endregion - BORDERS

$colour: map.ksort(map.get(default.$designSystem, colour), $recursive: true);

// #region - FONTS
$font: map.get(default.$designSystem, font);

$fontSize_base: map.get($font, baseSize);

$font_size: map.get($font, size);

@function _ksort_sizes($map, $_isFirstLevel: true) {
    // sorts the keys
    $ordered_keys: if(
        $_isFirstLevel,
        map.keys($map),
        list.sort(list.sort(map.keys($map), $sortAs: string), $sortAs: number)
    );

    $ordered_map: ();

    @each $key in $ordered_keys {
        $value: map.get($map, $key);

        @if meta.type-of($value) == map {
            $value: _ksort_sizes($value, $_isFirstLevel: false);
        }

        $ordered_map: map.set($ordered_map, $key, $value);
    }

    @return $ordered_map;
}

// sort recursively
$font_size: _ksort_sizes($font_size);

// reverse the smaller sizes
$font_size: map.set(
    $font_size,
    smaller,
    map.ksort(map.get($font_size, smaller), $sortAs: number, $reverse: true)
);

// flatten the map
$font_size: map.flatten($font_size);

// now calculating & rounding
@each $key, $value in $font_size {
    $_valueType: meta.type-of($value);

    @if $_valueType == list and list.length($value) < 1 {
        $font_size: map.remove($font_size, $key);
    } @else if $_valueType == map and list.length(map.keys($value)) < 1 {
        $font_size: map.remove($font_size, $key);
    } @else {
        $font_size: map.set(
            $font_size,
            $key,
            math.round-to-pixel(
                math.pow($spacing_multiplier, $value),
                $factor: config.$math_fontSize_roundingFactor
            )
        );
    }
}
// #endregion - FONTS

$icons: map.ksort(map.get(default.$designSystem, icons));

// #region - LINE HEIGHTS

$lineHeight_base: null !default;
$lineHeight_base: config.config-valid-number(
    $lineHeight_base,
    'lineHeight_base',
    $default: 1.6875,
    $min: 0.05,
    $unit: false
);

$lineHeight_multiplier: null !default;
$lineHeight_multiplier: config.config-valid-number(
    $lineHeight_multiplier,
    'lineHeight_multiplier',
    $default: 0.75,
    $min: 0.01,
    $unit: false
);

$line_height: map.ksort(map.get(default.$designSystem, line_height));

@each $key, $value in $line_height {
    $line_height: map.set(
        $line_height,
        $key,
        math.round-to-pixel(
            math.pow($spacing_multiplier, $value * $lineHeight_multiplier) * $lineHeight_base,
            $factor: config.$fn_lineHeightValue_roundToPixelFactor
        )
    );
}
// #endregion - LINE HEIGHTS

$logos: map.ksort(map.get(default.$designSystem, logos));

@if $logos == null {
    $logos: ();
}

// #region - MARGINS
$margin_base: null !default;
$margin_base: config.config-valid-number($margin_base, 'margin_base', $default: 1.25);

///
/// @since ___PKG_VERSION___
///
$margin_multiplier: null !default;
$margin_multiplier: config.config-valid-number(
    $margin_multiplier,
    'margin_multiplier',
    $default: 1
);

$margin_softener: null !default;
$margin_softener: config.config-valid-number($margin_softener, 'margin_softener', $default: 0.625);

$margin: map.ksort(map.get(default.$designSystem, margin));

@each $key, $size in $margin {
    $margin: map.set(
        $margin,
        $key,
        math.round-to-pixel(
            math.pow($spacing_multiplier * $margin_multiplier, $size) * $margin_base
        )
    );
}
// #endregion - MARGINS

// #region - THEMES

$themesMeta: map.get(default.$designSystem, themes, '_meta');

$themesMeta: map.set(
    $themesMeta,
    keys,
    textOrBackground,
    list.unique(list.join(map.get($themesMeta, keys, background), map.get($themesMeta, keys, text)))
);

$themes: ();

@each $key in list.except(map.keys(map.get(default.$designSystem, themes)), '_meta') {
    $themes: map.set($themes, $key, map.get(default.$designSystem, themes, $key));
}

// #endregion - THEMES

// #region - TRANSITION

$transition: map.get(default.$designSystem, transition);

///
/// @since ___PKG_VERSION___
///
$transition_function: null !default;
$transition_function: config.config-valid-string(
    $transition_function,
    'transition_function',
    $default: ease-out
);

// #endregion - TRANSITION

$z_index: map.ksort(map.get(default.$designSystem, z_index));

// #region - STYLES

$style: map.merge(
    map.get(default.$designSystem, style),
    (
        focus-ring: (
            outline-color: 'link-outline-hover',
            outline-offset: '200',
            outline-width: '200',
        ),
    ),
    $recursive: true,
    $sort: true
);

$style_flat: map.flatten($style);
$style_flat_required: map.flatten(map.pick($style, (icon)));

$_buttonVariationOpts: map.get($themesMeta, keys, button);

///
/// @since ___PKG_VERSION___
///
$button_variation_default: null !default;
$button_variation_default: config.config-valid-string(
    $button_variation_default,
    'button_variation_default',
    $default: 'primary',
    $options: $_buttonVariationOpts
);

///
/// @since ___PKG_VERSION___
///
$button_variation_secondary: null !default;
$button_variation_secondary: config.config-valid-string(
    $button_variation_secondary,
    'button_variation_secondary',
    $default: 'secondary',
    $options: $_buttonVariationOpts
);

///
/// @since ___PKG_VERSION___
///
$button_inline_variation_default: null !default;
$button_inline_variation_default: config.config-valid-string(
    $button_inline_variation_default,
    'button_inline_variation_default',
    $default: 'grey',
    $options: $_buttonVariationOpts
);

///
/// @since ___PKG_VERSION___
///
$button_fileSelector_variation_default: null !default;
$button_fileSelector_variation_default: config.config-valid-string(
    $button_fileSelector_variation_default,
    'button_fileSelector_variation_default',
    $default: 'grey',
    $options: $_buttonVariationOpts
);

// to avoid setting duplicate defaults
@if $button_variation_default == $button_inline_variation_default {
    $button_inline_variation_default: null;
}

// #endregion - STYLES

///
/// Opacity levels to print as colour tokens. Requires one of the colour
/// breakdown configs to be true.
///
/// @since ___PKG_VERSION___
///
$colour_presetOpacities: null !default;
$colour_presetOpacities: config.config-valid-list-number(
    $colour_presetOpacities,
    'colour_presetOpacities',
    $default: ()
);

///
/// @since ___PKG_VERSION___
///
$colour_presetOpacities_includeFromTheme: null !default;
$colour_presetOpacities_includeFromTheme: config.config-valid-bool(
    $colour_presetOpacities_includeFromTheme,
    'colour_presetOpacities_includeFromTheme',
    $default: true
);

// joins the lists
@if $colour_presetOpacities_includeFromTheme {
    $_list: map.get(default.$designSystem, style, presetOpacities);

    @if $_list != null {
        $colour_presetOpacities: list.join($colour_presetOpacities, $_list);
    }
}

// looping through to create a new list of all percentages, then making it unique
@if list.length($colour_presetOpacities) > 0 {
    $_filtered_list: ();

    @each $num in $colour_presetOpacities {
        $_filtered_list: list.append($_filtered_list, math.to-percent($num), $separator: comma);
    }

    $colour_presetOpacities: list.sort(list.unique($_filtered_list), $sortAs: number);
}

///
/// All valid button variations.
///
/// @since ___PKG_VERSION___
///
$themesMeta_buttonVariations: list.except(map.get($themesMeta, keys, button), disabled);

///
/// Variations without $button_variation_default.
///
/// @since ___PKG_VERSION___
///
$themesMeta_buttonVariations_extra: list.except(
    $themesMeta_buttonVariations,
    $button_variation_default
);

$style: map.remove($style, presetOpacities);
$style_flat: map.remove($style_flat, presetOpacities);
$style_flat_required: map.remove($style_flat_required, presetOpacities);
