///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/colour';
// @use 'pkg:@maddimathon/utility-sass/list';
// @use 'pkg:@maddimathon/utility-sass/map';
// @use 'pkg:@maddimathon/utility-sass/math';
// @use 'pkg:@maddimathon/utility-sass/meta';
@use 'pkg:@maddimathon/utility-sass/selector';
// @use 'pkg:@maddimathon/utility-sass/string';

@use '../lib';

/* # THEME MODE SWATCH ==================================== */

.theme-mode-swatch {
    display: flex;
    flex-direction: column;
    gap: 0;

    .theme-mode-swatch__name {
        &:first-child {
            margin-block-start: 0;
        }
    }

    .theme-mode-swatch__button-span {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-block: #{lib.var-mrg-firm('400')} #{lib.var-mrg-half('400')};

        gap: #{lib.var-mrg-firm('200')} #{lib.var-mrg-firm('400')};

        a.button {
            margin: 0;
        }
    }
}

@include lib.extend-selectors;
