///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../config' with (
    $internal_extendSelectors: false,
    $internal_supressCredit: true,

    $print_astro: false !default,
    $print_globals: false !default,
    $print_headings: true !default,
    $print_normalize: false !default,
    $print_tokens: false,
    $print_utils: false !default
);
