///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../config' with (
    $internal_extendSelectors: false,
    $internal_supressCredit: true,
    $internal_sass_supressCredit: true,

    $mx_extendHeadingsByRole: false !default,

    // $print_astro: false !default,
    // $print_globals: false !default,
    // $print_headings: false !default,
    // $print_normalize: false !default,
    // $print_utils: false !default,
     // $print_tokens: false !default,
);
