///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_lib' hide print-tokens, $internal_extendSelectors, $print_tokens;

@use '../../../config/utility-astro' as utils;

$internal_extendSelectors: true !default;
$internal_extendSelectors: utils.config-valid-bool(
    $internal_extendSelectors,
    'internal_extendSelectors'
);

$internal_supressCredit: false !default;
$internal_supressCredit: utils.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);

$print_tokens: true !default;
$print_tokens: utils.config-valid-bool($print_tokens, 'print_tokens');

@mixin print-tokens {
    @if $print_tokens {
        @content;
    }
}
