///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-astro/tokens/functions' hide tokens-get-at-properties;

@use 'pkg:@maddimathon/utility-astro/tokens/functions' as fns;

@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/string';

@use '../../config';

@use '../system';

///
/// @since ___PKG_VERSION___
///
@function tokens-get-at-properties($inputs) {
    // #region - $defaults
    $defaults: (
        focus-ring-outline-color: (
            syntax: '*',
            initial-value: #{system.tokens-style-value(
                    focus-ring-outline-color,
                    $asInitialValue: true
                )},
        ),
        focus-ring-outline-offset: (
            syntax: '*',
            initial-value: #{system.tokens-style-value(
                    focus-ring-outline-offset,
                    $asInitialValue: true
                )},
        ),
        focus-ring-outline-width: (
            syntax: '*',
            initial-value: #{system.tokens-style-value(
                    focus-ring-outline-width,
                    $asInitialValue: true
                )},
        ),

        icon-color: (
            syntax: '*',
            initial-value: #{system.tokens-style-value(icon-color, $asInitialValue: true)},
        ),

        icon-size: (
            syntax: '*',
            initial-value: #{system.tokens-style-value(icon-size, $asInitialValue: true)},
        ),
        icon-size-large: (
            initial-value: #{system.tokens-style-value(icon-size-large, $asInitialValue: true)},
        ),
        icon-size-font: (
            syntax: '<length-percentage> | <number>',
            inherits: true,
            initial-value: #{system.tokens-style-value(icon-size-font, $asInitialValue: true)},
        ),
        icon-size-pseudo: (
            syntax: '<length-percentage> | <number>',
            inherits: true,
            initial-value: #{system.tokens-style-value(icon-size-pseudo, $asInitialValue: true)},
        ),

        icon-font-top: (
            syntax: '<number>',
            inherits: true,
            initial-value: #{system.tokens-style-value(icon-font-top, $asInitialValue: true)},
        ),
        icon-pseudo-top: (
            syntax: '<number>',
            inherits: true,
            initial-value: #{system.tokens-style-value(icon-pseudo-top, $asInitialValue: true)},
        ),

        icon-size-inline--font-multiplier: (
            syntax: '<number>',
            inherits: true,
            initial-value: 1,
        ),
        icon-inline-buffer-start--font-multiplier: (
            syntax: '<number>',
            inherits: true,
            initial-value: 1,
        ),
        icon-inline-buffer-end--font-multiplier: (
            syntax: '<number>',
            inherits: true,
            initial-value: 1,
        ),

        icon-vertical-align: (
            syntax: '*',
            inherits: true,
            initial-value: #{system.tokens-style-value(icon-vertical-align, $asInitialValue: true)},
        ),
    );
    // #endregion - $defaults

    $val_flowMrg_raw: system.tokens-style-value(flow-margin, $raw: true);

    $val_flowMrg_small_raw: system.tokens-style-value(flow-margin-small, $raw: true);

    $val_flowMrg_large_raw: system.tokens-style-value(flow-margin-large, $raw: true);
    $val_flowMrg_large: system.tokens-mrg-value-soft($val_flowMrg_large_raw);

    $val_flowMrg_button_raw: system.tokens-style-value(flow-margin-button, $raw: true);
    $var_flowMrg_button: system.tokens-mrg-value-firm($val_flowMrg_button_raw);

    $var_flowMrg_firmStart_small: system.tokens-mrg-value-firm($val_flowMrg_small_raw);

    $_flowMargins: (
        flow-margin: system.tokens-mrg-value-soft($val_flowMrg_raw),
        flow-margin--small: system.tokens-mrg-value-soft($val_flowMrg_small_raw),
        flow-margin--large: $val_flowMrg_large,
        //
        flow-margin-firm-start: system.tokens-mrg-value-firm($val_flowMrg_raw),
        flow-margin-firm-end: system.tokens-mrg-value-half($val_flowMrg_raw),
        //
        flow-margin-firm-start--small: $var_flowMrg_firmStart_small,
        flow-margin-firm-end--small: system.tokens-mrg-value-half($val_flowMrg_small_raw),
        //
        flow-margin-firm-start--large: system.tokens-mrg-value-firm($val_flowMrg_large_raw),
        flow-margin-firm-end--large: system.tokens-mrg-value-half($val_flowMrg_large_raw),
        //
        flow-margin--button-span-block: $var_flowMrg_button,
        flow-margin--button-span-inline: $var_flowMrg_button,
        //
        flow-margin--heading-unstyled: $val_flowMrg_large,
    );

    @each $slug, $initial in $_flowMargins {
        //
        $defaults: map.set(
            $defaults,
            $slug,
            (
                syntax: '*',
                inherits: true,
                initial-value: #{$initial},
            )
        );
    }

    @return fns.tokens-get-at-properties(
        $inputs: map.merge($defaults, $inputs, $recursive: true, $respectUNDEFINED: true),
        $stroke_relative: system.$stroke_relative,
        $style_flat: system.$style_flat
    );
}

// ///
// /// Prepares a warning message for functions (or method) which were passed the
// /// wrong param value type.
// ///
// /// @since ___PKG_VERSION___
// ///
// @function tokens-warn-missing-key($paramName,$paramValue,$calledContext: null) {}

// ///
// /// Prepares a warning message for functions (or method) which were passed the
// /// wrong param value type.
// ///
// /// @since ___PKG_VERSION___
// ///
// @function tokens-warn-wrong-type($paramName,$paramValue,$calledContext: null) {}
