///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'functions' as *;

@use 'utility-astro' as utils;

///
/// Should be in pixels.
///
/// @since ___PKG_VERSION___
///
$fn_clampHighContrastBorderWidth_max: null !default;
$fn_clampHighContrastBorderWidth_max: config-valid-number(
    $fn_clampHighContrastBorderWidth_max,
    'fn_clampHighContrastBorderWidth_max',
    $default: 4,
    $unit: 1px
);

///
/// A value used as either em or rem.
///
/// @since ___PKG_VERSION___
///
$fn_clampHighContrastBorderWidth_min: null !default;
$fn_clampHighContrastBorderWidth_min: config-valid-number(
    $fn_clampHighContrastBorderWidth_min,
    'fn_clampHighContrastBorderWidth_min',
    $default: 0.125,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$fn_firstLastChildMargin_useNotInsteadOfChildren: null !default;
$fn_firstLastChildMargin_useNotInsteadOfChildren: config-valid-bool(
    $fn_firstLastChildMargin_useNotInsteadOfChildren,
    'fn_firstLastChildMargin_useNotInsteadOfChildren',
    $default: false
);

///
/// @since ___PKG_VERSION___
///
$fn_firstLastChildMargin_additionalFirmChildren: null !default;
$fn_firstLastChildMargin_additionalFirmChildren: config-valid-selector(
    $fn_firstLastChildMargin_additionalFirmChildren,
    'fn_firstLastChildMargin_additionalFirmChildren',
    $default: (),
    $allowEmpty: true
);

///
/// @since ___PKG_VERSION___
///
$fn_marginValue_roundToPixelFactor: null !default;
$fn_marginValue_roundToPixelFactor: config-valid-number(
    $fn_marginValue_roundToPixelFactor,
    'fn_marginValue_roundToPixelFactor',
    $default: 16,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$fn_marginSoftValue_roundToPixelFactor: null !default;
$fn_marginSoftValue_roundToPixelFactor: config-valid-number(
    $fn_marginSoftValue_roundToPixelFactor,
    'fn_marginSoftValue_roundToPixelFactor',
    $default: 32,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$fn_focusRingOffset_max: '400' !default;

///
/// @since ___PKG_VERSION___
///
$fn_focusRingOffset_min: '100' !default;

///
/// Required for proper forced-colors icon support.
///
/// @since ___PKG_VERSION___
///
$fn_pseudoIconsUseFont: true !default;
$fn_pseudoIconsUseFont: config-valid-bool(
    $fn_pseudoIconsUseFont,
    'fn_pseudoIconsUseFont',
    $default: true
);

///
/// @since ___PKG_VERSION___
///
$fn_tokens_fontSize_defaultRelative: null !default;
$fn_tokens_fontSize_defaultRelative: config-valid-bool(
    $fn_tokens_fontSize_defaultRelative,
    'fn_tokens_fontSize_defaultRelative',
    $default: false
);

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_borderRadius: null !default;
$fn_var_replaceWithValue_borderRadius: config-valid-bool(
    $fn_var_replaceWithValue_borderRadius,
    'fn_var_replaceWithValue_borderRadius',
    $default: true and not utils.$fn_var_replaceWithValue_resist
);

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_colour: null !default;
$fn_var_replaceWithValue_colour: config-valid-bool(
    $fn_var_replaceWithValue_colour,
    'fn_var_replaceWithValue_colour',
    $default: true and not utils.$fn_var_replaceWithValue_resist
);

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_fontFamily: null !default;
$fn_var_replaceWithValue_fontFamily: config-valid-bool(
    $fn_var_replaceWithValue_fontFamily,
    'fn_var_replaceWithValue_fontFamily',
    $default: true and not utils.$fn_var_replaceWithValue_resist
);

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_style: null !default;
$fn_var_replaceWithValue_style: config-valid-bool(
    $fn_var_replaceWithValue_style,
    'fn_var_replaceWithValue_style',
    $default: true and not utils.$fn_var_replaceWithValue_resist
);

///
/// @since ___PKG_VERSION___
///
$fn_var_neverReplaceWithValue_style_regex: null !default;
$fn_var_neverReplaceWithValue_style_regex: config-valid-string(
    $fn_var_neverReplaceWithValue_style_regex,
    'fn_var_neverReplaceWithValue_style_regex',
    $default: null
);

///
/// @since ___PKG_VERSION___
///
$fn_var_neverReplaceWithValue_style_regex_flags: null !default;
$fn_var_neverReplaceWithValue_style_regex_flags: config-valid-string(
    $fn_var_neverReplaceWithValue_style_regex_flags,
    'fn_var_neverReplaceWithValue_style_regex_flags',
    $default: 'gi'
);

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_transitionTime: null !default;
$fn_var_replaceWithValue_transitionTime: config-valid-bool(
    $fn_var_replaceWithValue_transitionTime,
    'fn_var_replaceWithValue_transitionTime',
    $default: true and not utils.$fn_var_replaceWithValue_resist
);

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_zIndex: null !default;
$fn_var_replaceWithValue_zIndex: config-valid-bool(
    $fn_var_replaceWithValue_zIndex,
    'fn_var_replaceWithValue_zIndex',
    $default: true and not utils.$fn_var_replaceWithValue_resist
);

///
/// @since ___PKG_VERSION___
///
$heading_fontSize_useRelative: null !default;
$heading_fontSize_useRelative: config-valid-bool(
    $heading_fontSize_useRelative,
    'heading_fontSize_useRelative',
    $default: $fn_tokens_fontSize_defaultRelative
);

///
/// @since ___PKG_VERSION___
///
$subheading_fontSize_useRelative: null !default;
$subheading_fontSize_useRelative: config-valid-bool(
    $subheading_fontSize_useRelative,
    'subheading_fontSize_useRelative',
    $default: $heading_fontSize_useRelative
);

///
/// Selectors for full-width %main-subgrid blocks.
///
/// @since ___PKG_VERSION___
///
$selector_bodyGrid_fullWidthExtender: null !default;
$selector_bodyGrid_fullWidthExtender: utils.config-valid-selector(
    $selector_bodyGrid_fullWidthExtender,
    'selector_bodyGrid_fullWidthExtender',
    $default: (),
    $allowEmpty: true
);

///
/// @since ___PKG_VERSION___
///
$themes__nestedFlat_tokenValues_warnIfNoFunction: true !default;
