///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha.2
///

@use 'utility-astro' as utils;

@use '../02-lib' as lib;

///
/// @since 0.1.0-alpha.3
///
$mx_aspectRatio_includeFallback: lib.$include_featureCheck !default;

///
/// @since ___PKG_VERSION___
///
$mx_fieldset_includeClrs: true !default;

///
/// Whether border-radius tokens should also print --border-radius-rel-[...]
/// tokens with em values.
///
/// @since ___PKG_VERSION___
///
$mx_tokens_borderRadius_printRelative: true !default;

///
/// @since ___PKG_VERSION___
///
$mx_tokens_fontFace_asBase64: false !default;

///
/// @since 0.1.0-alpha.6
///
$mx_tokensAll_includeFontFace: lib.$include_html !default;

///
/// @since ___PKG_VERSION___
///
$mx_tokensStyle_printAll: false !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeAlternateThemes: null !default;

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_includeDefault: true !default;

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_includeQuery: true !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeDefaultSelectors: not $mx_tokensTheme_includeQuery !default;

///
/// @since 0.1.0-alpha
///
$mx_tokensTheme_unifyActiveThemeSelectors: false !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_separateQueriesAndSelectors: lib.$selectorType_mode != 'null' !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_setBaseProperties: lib.$include_html !default;
