///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha.2
///

@use 'sass:map';
@use 'sass:meta';

@use 'utility-astro' as utils;

@use '../02-lib' as lib;

///
/// Extra selectors that get merged with [data-active-theme=""] selectors.
///
/// @since ___PKG_VERSION___
///
$mx_activeTheme_containers: null !default;
$mx_activeTheme_containers: utils.config-valid-selector(
    $mx_activeTheme_containers,
    'mx_activeTheme_containers',
    $default: (),
    $allowEmpty: true
);

///
/// Extra selectors indexed by theme slug.
///
/// @since ___PKG_VERSION___
///
$mx_activeTheme_extraSelectors: () !default;

@if meta.type-of($mx_activeTheme_extraSelectors) == map {
    @each $themeSlug, $selectors in $mx_activeTheme_extraSelectors {
        $mx_activeTheme_extraSelectors: map.set(
            $mx_activeTheme_extraSelectors,
            $themeSlug,
            utils.config-valid-selector(
                $selectors,
                'mx_activeTheme_extraSelectors.#{$themeSlug}',
                $default: ()
            )
        );
    }
} @else {
    $mx_activeTheme_extraSelectors: ();
}

///
/// @since 0.1.0-alpha.3
///
$mx_aspectRatio_includeFallback: null !default;
$mx_aspectRatio_includeFallback: utils.config-valid-bool(
    $mx_aspectRatio_includeFallback,
    'mx_aspectRatio_includeFallback',
    $default: lib.$include_featureCheck
);

///
/// @since ___PKG_VERSION___
///
$mx_fieldset_includeClrs: null !default;
$mx_fieldset_includeClrs: utils.config-valid-bool(
    $mx_fieldset_includeClrs,
    'mx_fieldset_includeClrs',
    $default: true
);

///
/// Whether border-radius tokens should also print --border-radius-rel-[...]
/// tokens with em values.
///
/// @since ___PKG_VERSION___
///
$mx_tokens_borderRadius_printRelative: null !default;
$mx_tokens_borderRadius_printRelative: utils.config-valid-bool(
    $mx_tokens_borderRadius_printRelative,
    'mx_tokens_borderRadius_printRelative',
    $default: true
);

///
/// @since ___PKG_VERSION___
///
$mx_tokens_fontFace_asBase64: null !default;
$mx_tokens_fontFace_asBase64: utils.config-valid-bool(
    $mx_tokens_fontFace_asBase64,
    'mx_tokens_fontFace_asBase64',
    $default: false
);

///
/// @since 0.1.0-alpha.6
///
$mx_tokensAll_includeFontFace: null !default;
$mx_tokensAll_includeFontFace: utils.config-valid-bool(
    $mx_tokensAll_includeFontFace,
    'mx_tokensAll_includeFontFace',
    $default: lib.$include_html
);

///
/// @since ___PKG_VERSION___
///
$mx_tokensStyle_printAll: null !default;
$mx_tokensStyle_printAll: utils.config-valid-bool(
    $mx_tokensStyle_printAll,
    'mx_tokensStyle_printAll',
    $default: false
);

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_activeTheme_nestExtraSpecific: null !default;
$mx_tokensTheme_activeTheme_nestExtraSpecific: utils.config-valid-bool(
    $mx_tokensTheme_activeTheme_nestExtraSpecific,
    'mx_tokensTheme_activeTheme_nestExtraSpecific',
    $default: lib.$include_html
);

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeAlternateThemes: null !default;
$mx_tokensTheme_includeAlternateThemes: utils.config-valid-bool(
    $mx_tokensTheme_includeAlternateThemes,
    'mx_tokensTheme_includeAlternateThemes',
    $default: null
);

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_includeDefault: null !default;
$mx_tokensTheme_includeDefault: utils.config-valid-bool(
    $mx_tokensTheme_includeDefault,
    'mx_tokensTheme_includeDefault',
    $default: true
);

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_includeQuery: null !default;
$mx_tokensTheme_includeQuery: utils.config-valid-bool(
    $mx_tokensTheme_includeQuery,
    'mx_tokensTheme_includeQuery',
    $default: true
);

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeDefaultSelectors: null !default;
$mx_tokensTheme_includeDefaultSelectors: utils.config-valid-bool(
    $mx_tokensTheme_includeDefaultSelectors,
    'mx_tokensTheme_includeDefaultSelectors',
    $default: not $mx_tokensTheme_includeQuery
);

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_includeForcedColorAlternatives: null !default;
$mx_tokensTheme_includeForcedColorAlternatives: utils.config-valid-bool(
    $mx_tokensTheme_includeForcedColorAlternatives,
    'mx_tokensTheme_includeForcedColorAlternatives',
    $default: false
);

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_nestActiveTheme: null !default;
$mx_tokensTheme_nestActiveTheme: utils.config-valid-bool(
    $mx_tokensTheme_nestActiveTheme,
    'mx_tokensTheme_nestActiveTheme',
    $default: lib.$include_html or utils.$template_utils
);

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_separateQueriesAndSelectors: null !default;
$mx_tokensTheme_separateQueriesAndSelectors: utils.config-valid-bool(
    $mx_tokensTheme_separateQueriesAndSelectors,
    'mx_tokensTheme_separateQueriesAndSelectors',
    $default: lib.$selectorType_mode != 'null'
);

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_setBaseProperties: null !default;
$mx_tokensTheme_setBaseProperties: utils.config-valid-bool(
    $mx_tokensTheme_setBaseProperties,
    'mx_tokensTheme_setBaseProperties',
    $default: lib.$include_html
);

///
/// @since 0.1.0-alpha
/// @since ___PKG_VERSION___ — Renamed from $mx_tokensTheme_unifyActiveThemeSelectors to $mx_tokensTheme_unifyActiveTheme.
///
$mx_tokensTheme_unifyActiveTheme: null !default;
$mx_tokensTheme_unifyActiveTheme: utils.config-valid-bool(
    $mx_tokensTheme_unifyActiveTheme,
    'mx_tokensTheme_unifyActiveTheme',
    $default: utils.$template_docs
);
