///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../config';
// @use '../../tokens';

@use '../../lib' as *;

@if config.$print_normalize {
    @include normalize;
}

@if config.$print_tokens {
    @if config.$print_headings {
        /* # TOKENS & PROPERTIES
         * ======================================================================== */
    }

    @include tokens-all;

    /* ## ANIMATIONS ==================================== */

    @keyframes fade-in {
        0% {
            opacity: var(--fade--opacity-out, 0);
        }

        100% {
            opacity: var(--fade--opacity-in, 1);
        }
    }

    @keyframes fade-out {
        0% {
            opacity: var(--fade--opacity-in, 1);
        }

        100% {
            opacity: var(--fade--opacity-out, 0);
        }
    }
}
