///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:string';

@use 'config';

@if config.$print_templateDocBlock {
    @if config.$template_isDefault {
        /**
         * Design System Utilities Template
         */
    } @else {
        /**
         * Design System Utilities Template - #{config.$template_name}
         */
    }
}

@if config.$template_isDefault {
    /*! START of @maddimathon/design-system-utilities/template */
} @else {
    /*! START of @maddimathon/design-system-utilities/template/#{string.to-lower-case(config.$template_name)} */
}
