///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../tokens/config' with (
    $internal_extendSelectors: false,
    $internal_supressCredit: true,

    $mx_extendHeadingsByRole: true !default,

    // $print_astro: false !default,
    $print_globals: true !default,
    // $print_normalize: false !default,
    // $print_tokens: false !default,
    // $print_utils: false !default,
    $print_headings: true !default,

    $print_astro_content: false,
    $print_astro_settingsMenu: false,
    $print_astro_toggle: false,
    $print_astro_toggleNav: false
);
