///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_lib';

@use '_lib' as lib;

$internal_extendSelectors: true !default;
$internal_extendSelectors: lib.config-valid-bool(
    $internal_extendSelectors,
    'internal_extendSelectors'
);

$internal_supressCredit: false !default;
$internal_supressCredit: lib.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);

/// ASTRO SUPPORT ///

$print_astro_settingsMenu: lib.$print_astro !default;
$print_astro_settingsMenu: lib.config-valid-bool(
    $print_astro_settingsMenu,
    'print_astro_settingsMenu'
);

$print_astro_toggle: lib.$print_astro !default;
$print_astro_toggle: lib.config-valid-bool(
    $print_astro_toggle,
    'print_astro_toggle'
);
