///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../astro/config' with (
    $include_colourValues_hsl: true !default,
    $include_colourValues_rgb: true !default,

    $template_name: 'Docs' !default,
    $template_docs: true !default,

    $fn_var_replaceWithValue_colour: false !default,
    $fn_var_replaceWithValue_fontFamily: false !default,
    // $fn_var_replaceWithValue_style: false !default,
    $mx_colourMode_includeDefaultQueries: true !default,
    $mx_colourMode_includeQuery: false !default,
    $mx_colourModeEach_includeForcedColorsSelectors: true !default,
    $mx_tokensTheme_includeQuery: false !default,
    $mx_tokensTheme_unifyActiveThemeSelectors: true !default,
    //
     //
);
