///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '_pre' as pre;

@forward 'pkg:@maddimathon/utility-astro/template/config' with (
    $template_extendSelectors: false,
    $template_include_cssHeadings: pre.$template_include_cssHeadings,

    $template_isDefault: true,
    $template_name: 'Default',
    $template_slug: 'default',

    $template_print_docBlock: false,
    $template_print_astro: pre.$template_print_astro,
    $template_print_globals: pre.$template_print_globals,
    $template_print_normalize: false,
    $template_print_tokens: false,
    $template_print_utils: pre.$template_print_utils,

    $template_print_astro_toggleNav: false,
    $template_print_icons: false,
    $template_print_skipLinks: false,
    $template_print_siteSettingsMenu: false,
    $template_print_toggleBlock: false,

    $template_print_styles: (
        'buttons': false,
        'headings': false,
    ),
    //
     //
);
