///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:map';

@use '_pre' as pre;

@forward 'pkg:@maddimathon/utility-astro/template/config' with (
    $template_extendSelectors: false,
    $template_cssHeadings: pre.$template_cssHeadings,

    $template_isDefault: true,
    $template_name: 'Default',
    $template_slug: 'default',

    $template_docBlock: false,
    $template_astro: pre.$template_astro,
    $template_globals: pre.$template_globals,
    $template_tokens: false,
    $template_utils: pre.$template_utils,

    $template_styles: map.deep-merge(
            pre.$template_styles,
            (
                astro: (
                    toggleNav: false,
                ),
                blockquote: false,
                buttons: false,
                headings: false,
                icons: false,
                normalize: false,
                siteSettingsMenu: false,
                skipLinks: false,
                toggle: false,
            )
        ),
    //
     //
);
