///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../config' with (
    $scale_multiplier: 2 !default,
    $breakpoints: (
        'tablet': 55,
    )
    !default
);
