///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'utils';

@forward 'pkg:@maddimathon/utility-astro/templates/html';

// TODO: remove testing
// @use '../../index' as utils;

// test.design-system-utilities.templates.base {
//     /* this is a test of utils.$scale_multiplier */
//     --content: #{utils.$scale_multiplier};
// }

// @include utils.min-width(mobile) {
//     test.design-system-utilities.templates.base {
//         /* I am inside a min-width( mobile ) mixin from utility-sass */
//     }
// }

// @include utils.min-width(tablet) {
//     test.design-system-utilities.templates.base {
//         /* I am inside a min-width( tablet ) mixin from utility-sass */
//     }
// }
