---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */

/* import - functions */
import {
    arrayUnique,
    mergeArgs,
} from '@maddimathon/utility-typescript/functions';
import { relativeURL } from '../functions/relativeURL.js';

/* import - values */
import '../css/main.css';
import { SITE_TITLE } from '../constants.js';

/* import - components */

/* import - layouts */
import UtilPage from '@maddimathon/utility-astro/layouts/Page';
import type * as UtilPageTypes from '@maddimathon/utility-astro/layouts/Page';
import type { ArrayItem } from '@maddimathon/utility-typescript/types';

/* TYPES ===================================== */

/* PROPS ===================================== */

type Partial_UtilProps = Partial<UtilPageTypes.Props> &
    Pick<UtilPageTypes.Props, 'title'>;

export interface Props extends Partial_UtilProps {}

const inputs: Props = Astro.props.frontmatter ?? Astro.props;

const _def: Props & UtilPageTypes.Props = {
    title: SITE_TITLE,

    dir: 'ltr',
    lang: 'en-CA',

    footer: {
        copyright: {
            html:
                '<a href="https://www.maddimathon.com">Maddi Mathon</a>' +
                ' | ' +
                '<a href="' +
                relativeURL(Astro.url, 'license') +
                '">MIT license</a>',
            // owner: 'Maddi Mathon',
            year: 2025,
        },
    },

    meta: {
        title: arrayUnique([
            ...(inputs.title?.length
                ? Array.isArray(inputs.title)
                    ? inputs.title
                    : [inputs.title]
                : []),
            SITE_TITLE,
        ]).join(' — '),
    },

    // skipLinks: [
    // ],

    settings: {
        settings: {
            brightness: true,
            contrast: true,
            motion: true,
        },
    },

    support: {
        settings: true,
    },
};

const props: Props & UtilPageTypes.Props = mergeArgs(_def, inputs, true);

/* CONSTANTS ===================================== */

const _menuMapper = (
    _obj: ArrayItem<[] & UtilPageTypes.Props['primaryMenu']>
) => {
    if (typeof _obj.href === 'string') {
        _obj.href = relativeURL(Astro.url, _obj.href);
    }
    if (_obj.child?.length) {
        _obj.child = _obj.child.map(_menuMapper);
    }
    return _obj;
};

props.primaryMenu = [
    { label: 'Home', href: '' },
    {
        label: 'SCSS',
        child: [
            {
                label: 'Templates',
                child: [{ label: 'HTML', href: 'scss/templates/html' }],
            },
        ],
    },
    { label: 'MIT License', href: 'license' },
].map(_menuMapper);
---

<UtilPage {...props}>
    <slot
        name='head-open'
        slot='head-open'
    />

    <meta
        slot='head-close'
        name='color-scheme'
        content='light dark'
    />

    <slot
        name='head-close'
        slot='head-close'
    />

    <slot
        name='body-open'
        slot='body-open'
    />

    <p
        slot='settings-menu-open'
        class='website-settings__disclaimer'
    >
        These settings are saved using browser cookies, which may not work as
        expected in offline copies.
    </p>

    <slot
        name='before-header'
        slot='before-header'
    />
    <slot
        name='header'
        slot='header'
    />
    <slot
        name='after-header'
        slot='after-header'
    />

    <slot />

    <slot
        name='before-footer'
        slot='before-footer'
    />
    <slot
        name='footer'
        slot='footer'
    />
    <slot
        name='after-footer'
        slot='after-footer'
    />

    <slot
        name='body-close'
        slot='body-close'
    />

    <slot name='footer-scripts' />
</UtilPage>
