---
/**
 * @since ___PKG_VERSION___
 *
 * @packageDocumentation
 */

/* import - types */
import type { ComponentProps } from 'astro/types';

/* import - functions */
import {
    arrayUnique,
    // mergeArgs,
} from '@maddimathon/utility-typescript/functions';
import { relativeURL } from '../functions/relativeURL.js';

/* import - values */
import cssUrl from '../css/main.css?url';
import pkgJson from '../../../package.json';
import { SITE_TITLE } from '../constants.js';

// import { base as config_base } from 'astro:config/client';

/* import - components */

/* import - layouts */
import LibPage from '../../astro/layouts/Page.astro';

/* TYPES ===================================== */

/* PROPS ===================================== */

type Partial_UtilProps = Partial<
    Omit<
        ComponentProps<typeof LibPage>,
        'meta' | 'settings' | 'stylesheetVersion' | 'urlMaker'
    >
> &
    Pick<ComponentProps<typeof LibPage>, 'title'> & {
        meta?: Partial<ComponentProps<typeof LibPage>['meta']>;
    };

export interface Props extends Partial_UtilProps {}

// const _defaultProps = {
//     title: [],

//     dir: 'ltr',
//     lang: 'en-CA',

//     footer: {
//         copyright: {
//             html:
//                 '<a href="https://www.maddimathon.com">Maddi Mathon</a>' +
//                 ' | ' +
//                 '<a href="' +
//                 relativeURL(Astro.url, 'license') +
//                 '">MIT license</a>',
//             // owner: 'Maddi Mathon',
//             year: 2025,
//         },
//     },

//     meta: {},

//     settings: {
//         settings: {
//             brightness: true,
//             contrast: true,
//             motion: true,
//         },
//     },
// } satisfies Props;

const inputs: Props = Astro.props.frontmatter ?? Astro.props;

// const props = mergeArgs(
//     _defaultProps,
//     inputs as Props & Partial<typeof _defaultProps>,
//     true
// );

const title = Array.isArray(inputs.title) ? inputs.title : [inputs.title];

const props = {
    dir: 'ltr',
    lang: 'en-CA',

    ...inputs,
    title,

    footer: {
        ...inputs.footer,

        copyright: inputs.footer?.copyright ?? {
            html:
                '<a href="https://www.maddimathon.com">Maddi Mathon</a>' +
                ' | ' +
                '<a href="' +
                relativeURL(Astro.url, 'license') +
                '">MIT license</a>',

            // owner: 'Maddi Mathon',
            year: 2025,
        },
    },

    meta: {
        ...inputs.meta,

        title:
            inputs.meta?.title ??
            arrayUnique(title.concat([SITE_TITLE])).join(' — '),
    },

    settings: {
        settings: {
            brightness: true,
            contrast: true,
            motion: true,
        },
    },
} satisfies ComponentProps<typeof LibPage>;

/* CONSTANTS ===================================== */

props.primaryMenu = [
    { label: 'Home', href: '' },
    {
        label: 'SCSS',
        child: [
            {
                label: 'Templates',
                child: [{ label: 'HTML', href: 'scss/templates/html' }],
            },
        ],
    },
    { label: 'MIT License', href: 'license' },
];
---

<LibPage
    {...props}
    accessibilityReportEmail={undefined}
    layout={props.layout || 'content-only'}
    stylesheetVersion={pkgJson.version}
    stylesheetURLs={[cssUrl].concat(props.stylesheetURLs ?? [])}
    title={title}
    urlMaker={relativeURL}
>
    <slot
        slot='head-open'
        name='head-open'
    />

    <slot
        slot='head-close'
        name='head-close'
    />

    <meta
        slot='head-close'
        name='color-scheme'
        content='dark light'
    />

    <slot
        slot='body-open'
        name='body-open'
    />

    <slot
        name='settings-menu-open'
        slot='settings-menu-open'
    />
    <p
        slot='settings-menu-open'
        class='website-settings__disclaimer'
    >
        These settings are saved using browser cookies, which may not work as
        expected in offline copies.
    </p>

    <slot
        name='settings-menu'
        slot='settings-menu'
    />
    <slot
        name='settings-menu-close'
        slot='settings-menu-close'
    />

    <slot
        slot='before-header'
        name='before-header'
    />

    <slot
        slot='header'
        name='header'
    />

    <slot
        slot='before-primary-nav'
        name='before-primary-nav'
    />

    <slot
        slot='after-primary-nav'
        name='after-primary-nav'
    />

    <slot
        slot='after-header'
        name='after-header'
    />

    <slot
        slot='content-header'
        name='content-header'
    />

    <slot
        slot='before-site-content'
        name='before-site-content'
    />

    <slot />

    <slot
        slot='after-site-content'
        name='after-site-content'
    />

    <slot
        slot='sidebar'
        name='sidebar'
    />

    <slot
        slot='before-secondary-nav'
        name='before-secondary-nav'
    />

    <slot
        slot='after-secondary-nav'
        name='after-secondary-nav'
    />

    <slot
        slot='before-footer'
        name='before-footer'
    />

    <slot
        slot='footer'
        name='footer'
    />

    <slot
        slot='after-footer'
        name='after-footer'
    />

    <slot
        slot='body-close'
        name='body-close'
    />

    <slot
        slot='footer-scripts'
        name='footer-scripts'
    />
</LibPage>
