///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/math';

@use '../../../config';

// @use '../00-default' as default;
@use '../01-breakdown' as breakdown;

$_marginRelativizer: calc(1 / 1.0625);
$_marginRelativizer_method: if($_marginRelativizer >= 1, null, 'ceil');

///
/// Uses the margin config to prepare the appropriate numerical value (rem).
///
/// @since ___PKG_VERSION___
///
@function tokens-mrg-value-firm(
    $level,
    $unit: 1rem,
    $relative: math.unit($unit) == 'em',
    $multiplier: 1
) {
    $value: map.get(breakdown.$margin, '400');

    @if not map.has-key(breakdown.$margin, #{$level}) {
        @warn "$level '#{$level}' was not a key in tokens.$margin";
    } @else {
        $value: map.get(breakdown.$margin, #{$level});
    }

    $value: $value * $multiplier;

    @if $relative {
        $value: math.round-to-pixel(
            $value * $_marginRelativizer,
            80,
            $method: $_marginRelativizer_method
        );
    } @else {
        $value: math.round-to-pixel($value, config.$fn_marginValue_roundToPixelFactor);
    }

    @return math.add-unit($value, $unit);
}

///
/// Uses the margin config to prepare the appropriate numerical value (rem).
///
/// @since ___PKG_VERSION___
///
@function tokens-mrg-value-half($level, $unit: 1rem, $multiplier: 1, $args...) {
    //
    $firm: tokens-mrg-value-firm($level, $multiplier: $multiplier, $unit: $unit, $args...);
    $soft: tokens-mrg-value-soft($level, $multiplier: $multiplier, $unit: $unit, $args...);

    @return $firm - $soft;
}

$_mrgValFirm_400: tokens-mrg-value-firm('400', $unit: 1);

$_mrgValFirm_400_halfSoftened: math.div(
    ($_mrgValFirm_400 + ($_mrgValFirm_400 * breakdown.$margin_softener)),
    2
);

///
/// Uses the margin config to prepare the appropriate numerical value (rem).
///
/// @since ___PKG_VERSION___
///
@function tokens-mrg-value-soft(
    $level,
    $unit: 1rem,
    $multiplier: 1,
    $relative: math.unit($unit) == 'em',
    $args...
) {
    $value: tokens-mrg-value-firm(
        $level,
        $multiplier: $multiplier,
        $unit: 1,
        $relative: $relative,
        $args...
    );

    // returns - simple softening
    @if math.num-val($level) <= 400 {
        @return math.add-unit(
            math.round-to-pixel(
                $value * breakdown.$margin_softener,
                config.$fn_marginSoftValue_roundToPixelFactor
            ),
            $unit
        );
    }

    $pc_soften_full: math.div($_mrgValFirm_400, $value);
    $pc_soften_partial: 1 - math.div($_mrgValFirm_400_halfSoftened, $value);

    $_full_softener: breakdown.$margin_softener;

    $_partial_softener: breakdown.$margin_softener +
        ((1 - breakdown.$margin_softener) * breakdown.$margin_softener);

    $value_half_full_soft: $value * $pc_soften_full * $_full_softener;

    $value_half_partial_soft: $value * $pc_soften_partial * $_partial_softener;

    @return math.add-unit(
        math.round-to-pixel(
            $value_half_full_soft + $value_half_partial_soft,
            config.$fn_marginSoftValue_roundToPixelFactor
        ),
        $unit
    );
}

///
/// Uses the margin config to print the appropriate var(...) with a
/// fallback.
///
/// @since ___PKG_VERSION___
///
@function tokens-var-pad-firm($level, $fallbackOnly: false, $multiplier: 1, $args...) {
    $fallback: math.add-unit(tokens-mrg-value-firm($level, $multiplier: $multiplier), 1em);

    @return config.config-do-var(
        pad-firm-#{$level},
        $fallback,
        $fallbackOnly: $fallbackOnly or config.$fn_var_replaceWithValue_margin,
        $args...
    );
}

///
/// Uses the margin config to print the appropriate var(...) with a
/// fallback.
///
/// @since ___PKG_VERSION___
///
@function tokens-var-pad-half($level, $fallbackOnly: false, $multiplier: 1, $args...) {
    $fallback: math.add-unit(tokens-mrg-value-half($level, $multiplier: $multiplier), 1em);

    @return config.config-do-var(
        pad-half-#{$level},
        $fallback,
        $fallbackOnly: $fallbackOnly or config.$fn_var_replaceWithValue_margin,
        $args...
    );
}

///
/// Uses the margin config tokens to print the appropriate var(...) with a
/// fallback.
///
/// @since ___PKG_VERSION___
///
@function tokens-var-pad-soft($level, $fallbackOnly: false, $multiplier: 1, $args...) {
    $fallback: math.add-unit(tokens-mrg-value-soft($level, $multiplier: $multiplier), 1em);

    @return config.config-do-var(
        pad-soft-#{$level},
        $fallback,
        $fallbackOnly: $fallbackOnly or config.$fn_var_replaceWithValue_margin,
        $args...
    );
}

///
/// Uses the margin config to print the appropriate var(...) with a
/// fallback.
///
/// @since ___PKG_VERSION___
///
@function tokens-var-mrg-firm($level, $fallbackOnly: false, $multiplier: 1, $args...) {
    $fallback: math.add-unit(tokens-mrg-value-firm($level, $multiplier: $multiplier), 1rem);

    @return config.config-do-var(
        mrg-firm-#{$level},
        $fallback,
        $fallbackOnly: $fallbackOnly or config.$fn_var_replaceWithValue_margin,
        $args...
    );
}

///
/// Uses the margin config to print the appropriate var(...) with a
/// fallback.
///
/// @since ___PKG_VERSION___
///
@function tokens-var-mrg-half($level, $fallbackOnly: false, $multiplier: 1, $args...) {
    $fallback: math.add-unit(tokens-mrg-value-half($level, $multiplier: $multiplier), 1rem);

    @return config.config-do-var(
        mrg-half-#{$level},
        $fallback,
        $fallbackOnly: $fallbackOnly or config.$fn_var_replaceWithValue_margin,
        $args...
    );
}

///
/// Uses the margin config tokens to print the appropriate var(...) with a
/// fallback.
///
/// @since ___PKG_VERSION___
///
@function tokens-var-mrg-soft($level, $fallbackOnly: false, $multiplier: 1, $args...) {
    $fallback: math.add-unit(tokens-mrg-value-soft($level, $multiplier: $multiplier), 1rem);

    @return config.config-do-var(
        mrg-soft-#{$level},
        $fallback,
        $fallbackOnly: $fallbackOnly or config.$fn_var_replaceWithValue_margin,
        $args...
    );
}
