///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../../config';

@use 'pkg:@maddimathon/utility-sass/list';
@use 'pkg:@maddimathon/utility-sass/map';
@use 'pkg:@maddimathon/utility-sass/math';
@use 'pkg:@maddimathon/utility-sass/meta';
@use 'pkg:@maddimathon/utility-sass/string';

// @use '../00-default' as default;
@use '../01-breakdown' as breakdown;

@use '01-spacing' as spacing;
@use '03-theme' as theme;
@use '04-typography' as typography;
@use '05-borders' as borders;

///
/// Whether the given style slug is a flow margin token.
///
/// @since ___PKG_VERSION___
///
@function tokens-style-is-flow-margin($slug, $defaultOnly: false) {
    // returns
    @if $defaultOnly {
        @return $slug == flow-margin or string.index($slug, flow-margin-) == 1;
    }

    @return string.match($slug, '(^|-)flow-margin(-|$)|^widget-button-span-gap$') != null;
}

///
/// Uses the (flattened) style tokens.
///
/// @since ___PKG_VERSION___
///
@function tokens-style-value(
    $slug,
    $raw: false,
    $rawUnit: 1,
    $asFallbackValue: false,
    $asInitialValue: false
) {
    $value: map.get(breakdown.$style_flat, $slug);

    $_slugLength: string.length($slug);

    // returns
    @if $value == null {
        @warn "$slug '#{$slug}' was not a key in flattened tokens.$designSystem.style";
        @return $slug;
    }

    // returns
    @if $raw {
        @return if(meta.type-of($value) == number, math.add-unit($value, $unit: $rawUnit), $value);
    }

    // returns - flow margins are always dealt with the same way
    @if tokens-style-is-flow-margin($slug) {
        @return spacing.tokens-var-mrg-soft($value);
    }

    // returns
    @if $slug == focus-ring-outline-color {
        @return if(
            meta.type-of($value) == color or $value == white or $value == black,
            $value,
            theme.tokens-var-theme($value)
        );
    }

    // returns
    @if $slug == focus-ring-outline-offset {
        @return borders.tokens-var-stroke-relative($value, $fallbackOnly: $asInitialValue);
    }

    // returns
    @if $slug == focus-ring-outline-width {
        // returns
        @if $asFallbackValue {
            @return borders.tokens-var-stroke-relative($value, $fallbackOnly: $asInitialValue);
        }

        @return clamp(
            borders.tokens-var-border-width(
                config.$fn_focusRingOffset_min,
                $fallbackOnly: $asInitialValue
            ),
            borders.tokens-var-stroke-relative($value, $fallbackOnly: $asInitialValue),
            borders.tokens-var-border-width(
                config.$fn_focusRingOffset_max,
                $fallbackOnly: $asInitialValue
            )
        );
    }

    $isAlertStyle: string.index($slug, alert-) == 1;
    $isAlertHeadingStyle: string.index($slug, alert-heading-) == 1;
    $isAlertHeadlineStyle: string.index($slug, alert-headline-) == 1;
    $isButtonStyle: string.index($slug, button-) == 1;
    $isHeadingStyle: string.index($slug, heading-) == 1;
    $isHr: string.index($slug, hr-) == 1;
    $isIconStyle: string.match($slug, '^(button-(inline-)?)?icon-') != null;
    $isInputStyle: string.index($slug, input-) == 1;
    $isLogoStyle: string.index($slug, logo-) == 1;
    $isSubtitleStyle: string.index($slug, subtitle-) == 1;
    $isToggleStyle: string.index($slug, toggle-) == 1;
    $isToggleContentStyle: string.index($slug, toggle-content-) == 1;
    $isToggleControlStyle: string.index($slug, toggle-control-) == 1;
    $isWidgetStyle: string.index($slug, widget-) == 1;

    $isBorderRadius: false;
    $isBorderWidth: false;
    $isFontFamily: false;
    $isFontSize: false;
    $isGap: false;
    $isLineHeight: false;
    $isMargin: false;
    $isPadding: false;
    $isStrokeRelative: false;
    $isThemeToken: false;

    $isSimpleEm: false;

    @if $isAlertStyle or
        $isButtonStyle or
        $isIconStyle or
        $isInputStyle or
        $isHeadingStyle or
        $isHr or
        $isLogoStyle or
        $isSubtitleStyle or
        $isToggleStyle or
        $isWidgetStyle
    {
        // GAP
        // prettier-ignore
        @if string.index($slug, -gap-) or string.index($slug, -gap) == ($_slugLength - 6) {
            $isGap: true;
        }

        // THEME (colour) tokens
        // prettier-ignore
        @else if string.index($slug, -background-) or string.index($slug, -background) == ($_slugLength - 10) {
            $isThemeToken: true;
        } @else if
            string.index($slug, -color-) or
            string.index($slug, -color) ==
            ($_slugLength - 5)
        {
            $isThemeToken: true;
        }

        // BORDER RADIUS
        // prettier-ignore
        @else if string.index($slug, -border-radius-) or string.index($slug, -border-radius) == ($_slugLength - 13) {
            $isBorderRadius: true;
        }

        // BORDER WIDTH
        // prettier-ignore
        @else if string.index($slug, -border-width-) or string.index($slug, -border-width) == ($_slugLength - 12) {
            $isBorderWidth: true;
        }

        // FONT SIZE
        @else if string.index($slug, -font-family) == ($_slugLength - 11) {
            $isFontFamily: true;
        }

        // FONT SIZE
        // prettier-ignore
        @else if string.index($slug, -font-size-) or string.index($slug, -font-size) == ($_slugLength - 9) {
            $isFontSize: true;
        }

        // LINE HEIGHT
        @else if string.index($slug, -line-height) == ($_slugLength - 11) {
            $isLineHeight: true;
        }

        // MARGINS - returns for alert headings and headlines
        // prettier-ignore
        @else if not $isIconStyle and (string.index($slug, -margin-) or string.index($slug, -margin) == ($_slugLength - 6)) {
                @if $isAlertHeadingStyle or $isAlertHeadlineStyle {
                    @return math.add-unit($value, 1em);
                } @else {
                    $isMargin: true;
                }
            }

        // PADDING
        @else if string.index($slug, -padding-) {
            @if $isWidgetStyle {
                $isMargin: true;
            } @else {
                $isPadding: true;
            }
        } @else if string.index($slug, -padding) == ($_slugLength - 7) {
            @if $isAlertStyle or $isWidgetStyle {
                $isMargin: true;
            } @else {
                $isPadding: true;
            }
        }

        // stroke-relative
        // prettier-ignore
        @else if string.index($slug, -focus-offset-) or string.index($slug, -focus-offset) == ($_slugLength - 12) {
            $isStrokeRelative: true;
        }
    }

    // RETURNING

    $_globalKeyword_regex: '^\\s*(inherit|initial|revert|revert-layer|unset)\\s*$';

    // returns
    @if $isMargin {
        // returns
        @if meta.type-of($value) == number {
            @return $value;
        }

        // returns if a block margin
        @if $isHeadingStyle {
            // returns
            @if string.index($slug, -margin-block-start) == ($_slugLength - 18) {
                // // returns
                // @if string.index($slug, heading-unstyled-) == 1 {
                //     @return spacing.tokens-var-mrg-soft($value);
                // }

                @return spacing.tokens-var-mrg-soft($value);
            }

            // returns
            @if string.index($slug, -margin-block-end) == ($_slugLength - 16) {
                @return spacing.tokens-var-mrg-half($value);
            }
        }

        // returns
        @if string.index($slug, -block-start) {
            @return if(
                $isToggleControlStyle,
                spacing.tokens-var-pad-firm($value),
                if(
                    $isButtonStyle or $isInputStyle,
                    spacing.tokens-var-mrg-firm($value),
                    spacing.tokens-var-mrg-soft($value)
                )
            );
        }

        // returns
        @if string.index($slug, -block-end) {
            @return if(
                $isToggleControlStyle,
                spacing.tokens-var-pad-firm($value),
                spacing.tokens-var-mrg-half($value)
            );
        }

        // returns
        @if string.index($slug, -block) {
            @return if(
                $isButtonStyle or $isInputStyle,
                spacing.tokens-var-mrg-firm($value),
                spacing.tokens-var-mrg-soft($value)
            );
        }

        @return spacing.tokens-var-mrg-firm($value);
    }

    // returns
    @if $isPadding {
        // returns
        @if meta.type-of($value) == number {
            @return $value;
        }

        // returns
        @if $isToggleContentStyle {
            @return if(
                string.index($slug, -block-start) or string.index($slug, -block-end) or
                    string.index($slug, -block),
                spacing.tokens-var-mrg-soft($value),
                spacing.tokens-var-mrg-firm($value)
            );
        }

        // returns
        @if string.index($slug, input-file-padding-) == 1 {
            @return spacing.tokens-var-pad-firm($value);
        }

        // returns
        @if string.index($slug, -block-start) or $isToggleControlStyle {
            @return spacing.tokens-var-pad-soft($value);
        }

        // returns
        @if string.index($slug, -block-end) {
            @return spacing.tokens-var-pad-half($value);
        }

        // returns
        @if string.index($slug, -block) {
            @return if(
                $isAlertStyle,
                spacing.tokens-var-mrg-firm($value),
                spacing.tokens-var-pad-soft($value)
            );
        }

        @return spacing.tokens-var-pad-firm($value);
    }

    // returns
    @if $isGap {
        // returns
        @if meta.type-of($value) == number {
            @return $value;
        }

        // returns
        @if meta.type-of($value) == number {
            @return $value;
        }

        // returns
        @if string.index($slug, gap-block-start) {
            @return spacing.tokens-var-mrg-soft($value);
        }

        // returns
        @if string.index($slug, gap-block-end) {
            @return spacing.tokens-var-mrg-half($value);
        }

        // returns
        @if string.index($slug, gap-block) {
            @return spacing.tokens-var-mrg-soft($value);
        }

        @return spacing.tokens-var-mrg-firm($value);
    }

    // returns
    @if $isBorderRadius {
        @return if(
            meta.type-of($value) == number,
            $value,
            borders.tokens-var-border-radius($value, $relative: $isButtonStyle)
        );
    }

    // returns
    @if $isBorderWidth {
        @return borders.tokens-var-border-width($value, $fallbackOnly: $asInitialValue);
    }

    // returns
    @if $isFontFamily {
        @return if(
            typography.tokens-font-family-exists($value),
            typography.tokens-var-font-family($value),
            inherit
        );
    }

    // returns
    @if $isFontSize {
        // returns
        @if $isButtonStyle {
            @return typography.tokens-var-fs($value, $relative: true);
        }

        @return typography.tokens-var-fs($value);
    }

    // returns
    @if $isLineHeight {
        $_typeOf: meta.type-of($value);

        // returns
        @if $value == normal or $_typeOf == number {
            @return $value;
        }

        // returns
        @if $_typeOf == string and string.match($value, $_globalKeyword_regex) {
            @return $value;
        }

        @return typography.tokens-var-line-height($value);
    }

    // returns
    @if $isStrokeRelative {
        @return borders.tokens-var-stroke-relative($value, $fallbackOnly: $asInitialValue);
    }

    // returns
    @if $isThemeToken {
        @return if(
            meta.type-of($value) == color or $value == white or $value == black,
            $value,
            theme.tokens-var-theme($value)
        );
    }

    // returns
    @if $isSimpleEm {
        @return math.add-unit($value, $unit: 1em);
    }

    @return $value;
}

///
/// @since ___PKG_VERSION___
///
@function tokens-var-style($slug, $fallback: null, $raw: false, $rawUnit: 1, $args...) {
    // returns - flow margins are always dealt with the same way
    $_default_flow_tokens_match: string.match($slug, '^flow-margin(-(large|small)|$)');

    @if $_default_flow_tokens_match != null {
        @if $fallback == null {
            $fallback: tokens-style-value($slug, $raw: false, $asFallbackValue: true);
        }

        $_suffix: list.nth($_default_flow_tokens_match, 3);

        $_suffix: if($_suffix, '--#{$_suffix}', '');

        @return config.config-do-var(
            'flow-margin#{$_suffix}',
            $fallback: $fallback,
            $fallbackOnly: false,
            $args...
        );
    }
    // @if tokens-style-is-flow-margin($slug) {
    // }

    @if $fallback == null {
        $fallback: tokens-style-value(
            $slug,
            $raw: $raw,
            $rawUnit: $rawUnit,
            $asFallbackValue: true
        );
    }

    $isFocusRingStyle: string.index($slug, focus-ring-) == 1;
    $isIconStyle: string.index($slug, icon-) == 1;

    $fallbackOnly: config.$fn_var_replaceWithValue_style and not $isFocusRingStyle and not
        $isIconStyle;

    @return config.config-do-var(
        $slug,
        $fallback: $fallback,
        $fallbackOnly: $fallbackOnly,
        $args...
    );
}
