///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../lib';

/* # FONT FAMILY SWATCH LIST ==================================== */

$_fontWeights: ('100', '200', '300', '400', '500', '600', '700', '800', '900');

$_grid_rows: '[title] auto [details] auto';

@each $weight in $_fontWeights {
    @each $suffix in ('', '-italic') {
        $_grid_rows: '#{$_grid_rows} [term-#{$weight}#{$suffix}] auto';
        $_grid_rows: '#{$_grid_rows} [def-#{$weight}#{$suffix}] auto';
    }
}

%_grid-base {
    --display: grid;
    display: grid;

    justify-content: stretch;
    justify-items: start;
    align-items: first baseline;

    margin: 0;
    gap: 0;
}

.font-family-swatch-list {
    @extend %_grid-base;
    grid-template-columns: repeat(
        var(--font-family-list-column-count, auto-fill),
        minmax(16rem, 1fr)
    );
    grid-auto-rows: auto;
    grid-auto-flow: row;

    margin-block-start: #{lib.var-mrg-firm('400')};
    padding: 0;

    overflow-inline: auto;

    .font-family-swatch {
        @extend %_grid-base;
        grid-template-columns: 1fr;
        grid-template-rows: #{$_grid_rows};

        padding: #{lib.var-mrg-soft('200')} #{lib.var-mrg-firm('300')};

        min-width: 0;
        max-width: none;

        > * {
            grid-column: 1 / -1;
        }

        .font-family-swatch__name,
        .font-family-swatch__details-list,
        .font-family-swatch__weight-dt,
        .font-family-swatch__weight-dd {
        }

        .font-family-swatch__name {
            margin-block-start: 0;
            grid-row: title;
        }

        .font-family-swatch__details-list {
            grid-row: details;
            margin: 0;

            > dt,
            > dd {
                margin: 0;
            }

            > dt {
                margin-block-start: #{lib.var-mrg-soft('400')};
            }

            + .font-family-swatch__weight-dt {
                margin-block-start: #{lib.var-mrg-soft('600')};
            }
        }

        .font-family-swatch__weight-dt,
        .font-family-swatch__weight-dd {
            margin: 0;
        }

        .font-family-swatch__weight-dt {
            margin-block-start: #{lib.var-mrg-soft('400')};
        }

        .font-family-swatch__weight-dd {
            margin-block-start: #{lib.var-mrg-soft('200')};
            font-size: #{lib.var-fs(normal)};
        }

        @each $weight in $_fontWeights {
            .font-family-swatch__weight-dt--#{$weight} {
                grid-row: term-#{$weight};
            }

            .font-family-swatch__weight-dd--#{$weight} {
                grid-row: def-#{$weight};
            }

            .font-family-swatch__weight-dt--#{$weight}-italic {
                grid-row: term-#{$weight}-italic;
            }

            .font-family-swatch__weight-dd--#{$weight}-italic {
                grid-row: def-#{$weight}-italic;
            }
        }
    }
}

:global(#{lib.selector-feature-check( subgrid, true )}) {
    //
    .font-family-swatch-list {
        grid-template-rows: #{$_grid_rows};

        .font-family-swatch {
            grid-template-rows: subgrid;
            grid-row: 1 / -1;
        }
    }
}

@include lib.extend-selectors($optional: true);
