///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'tokens';

@forward '_header';

@forward 'lib';

@forward 'pkg:@maddimathon/utility-astro/templates/astro' hide
        $internal_extendSelectors,
    $internal_supressCredit, $print_tokens, print-template-header, print-tokens,
    snippet-button, snippet-input, snippet-input-types, snippet-label,
    tokens-all;

@forward '_content';

@forward '_footer';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use 'config';

@use 'lib' as *;

@if config.$internal_extendSelectors {
    @include config.print-globals {
        @include extend-selector-globals;
    }

    @include config.print-utils {
        @include extend-selector-utils;
    }
}
