///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

// @use 'sass:map';

// @use '_pre' as pre;

@forward 'pkg:@maddimathon/utility-astro/config/modules' with (
    $colour_allowModernOpacitySyntax: true !default,

    $math_fontSize_roundingFactor: 16 !default,

    $math_clampFontSize_multiplier_max: 1.1875 !default,
    $math_clampFontSize_multiplier_min: 0.875 !default
);
