///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../html/_content';

@forward 'pkg:@maddimathon/utility-astro/templates/astro/_content';

@forward 'sticky-nav';
