///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/color';
// @use 'pkg:@maddimathon/utility-sass/list';
// @use 'pkg:@maddimathon/utility-sass/map';
// @use 'pkg:@maddimathon/utility-sass/math';
// @use 'pkg:@maddimathon/utility-sass/meta';
// @use 'pkg:@maddimathon/utility-sass/selector';
// @use 'pkg:@maddimathon/utility-sass/string';

@use '../lib' as *;

/* # TYPOGRAPHY
 * ======================================================================== */

/* ## Typography - Inline ==================================== */

a {
    text-decoration: underline #{var-stroke-relative('200')};
}

abbr[title] {
    text-decoration: dotted underline #{var-stroke-relative('400')};
    cursor: help;
}
