///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/colour';
// @use 'pkg:@maddimathon/utility-sass/list';
// @use 'pkg:@maddimathon/utility-sass/map';
// @use 'pkg:@maddimathon/utility-sass/math';
// @use 'pkg:@maddimathon/utility-sass/meta';
// @use 'pkg:@maddimathon/utility-sass/selector';
// @use 'pkg:@maddimathon/utility-sass/string';

@use '../lib' as *;

// @use '../config';
// @use '../tokens';

/* # TYPOGRAPHY
 * ======================================================================== */

::selection {
    background-color: #{var-theme(selection-bg)};
    color: #{var-theme(selection-text)};
}

/* ## Typography - Inline ==================================== */

a {
    display: inline;
    border: none;
    text-decoration: underline #{var-stroke-relative('200')};
    color: #{var-theme(link)};

    /// STATES ///

    @include hover-focus-visible() {
        --focus-ring-outline-color: #{var-theme(link-hover)};
        color: #{var-theme(link-hover)};
        text-decoration-color: transparent;
    }

    &:active {
        --focus-ring-outline-color: #{var-theme(link-active)};
        color: #{var-theme(link-active)};
    }
}

abbr[title] {
    text-decoration: dotted underline #{var-stroke-relative('400')};
    cursor: help;
}

/* ## Typography - Block ==================================== */

pre,
code {
    --focus-ring-outline-color: #{var-theme(text-secondary)};
    position: relative;
}

code {
}

pre {
}
