///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/colour';
// @use 'pkg:@maddimathon/utility-sass/list';
// @use 'pkg:@maddimathon/utility-sass/map';
// @use 'pkg:@maddimathon/utility-sass/math';
// @use 'pkg:@maddimathon/utility-sass/meta';
// @use 'pkg:@maddimathon/utility-sass/selector';
// @use 'pkg:@maddimathon/utility-sass/string';

@use '../config';

@use '../lib' as *;

@include config.print-headings {
    /* # ASTRO COMPONENT SUPPORT
     * ======================================================================== */
}

@if config.$print_astro_toggle {
    @include config.print-headings {
        /* ## TOGGLE ==================================== */
    }

    @include snippet-support-toggle;

    @if config.$print_astro_content {
        @include snippet-support-toggle-nav-menu;
    }
}

@if config.$print_astro_settingsMenu {
    @include config.print-headings {
        /* ## SETTINGS MENU ==================================== */
    }

    @include snippet-support-settings-menu;
}
