///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use '../config';

@use '../../../lib' as *;

@include debug-checkpoint(
    '#{config.$template_slug} - blocks start',
    $level: config.$template_debug_checkpointsLevel
);

@if config.$template_print_logos {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - logos start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # BLOCKS - LOGOS
         * ======================================================================== */
    }

    @include snippet-support-logos;
}

@if config.$template_print_icons {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - icons start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # BLOCKS - ICONS
         * ======================================================================== */
    }

    @include snippet-support-icons;
}

@if config.$template_print_alertBlocks {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - alerts start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # BLOCKS - ALERTS
         * ======================================================================== */
    }

    @include snippet-support-alert-blocks;
}

@if config.$template_print_sidebarWidgets {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - sidebar widgets start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # BLOCKS - SIDEBAR & WIDGETS
         * ======================================================================== */
    }

    @include snippet-support-sidebar-widgets;
}

@if config.$template_print_toggleBlock {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - toggle start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # ASTRO COMPONENT - TOGGLE
         * ======================================================================== */
    }

    @include snippet-support-toggle-block;
}

@if config.$template_print_astro_toggleNav {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - toggleNav start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # ASTRO COMPONENT - TOGGLE NAV MENU
         * ======================================================================== */
    }

    @include snippet-support-astro-toggle-nav-menu;
}

@if config.$template_print_astro_stickyToggleNav {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - stickyToggleNav start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # ASTRO SUPPORT - STICKY TOGGLE NAV
         * ======================================================================== */
    }

    @include snippet-support-astro-sticky-toggle-nav(
        $includeToggleNavSupport: not config.$template_print_astro_toggleNav
    );
}

@if config.$template_print_siteSettingsMenu {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - settingsMenu start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* # BLOCK - SETTINGS MENU
         * ======================================================================== */
    }

    @include snippet-support-site-settings-menu;
}

@if config.$template_print_astro_settingsMenu_fontOverrides and tokens-has-font-families() {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - settingsMenu - font overrides start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_include_cssHeadings {
        /* ## Astro Component - Settings Menu - Font Overrides ==================================== */
    }

    @include snippet-support-site-settings-menu-font-overrides;
}
