///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'sass:map';

@use '../config';

@use '../../../lib' as *;

@include debug-checkpoint(
    '#{config.$template_slug} - blocks start',
    $level: config.$template_debug_checkpointsLevel
);

@if map.get(config.$template_styles, icons) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - icons start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # BLOCKS - ICONS
         * ======================================================================== */
    }

    @include snippet-support-icons;
}

@if map.get(config.$template_styles, logos) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - logos start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # BLOCKS - LOGOS
         * ======================================================================== */
    }

    @include snippet-support-logos;
}

@if map.get(config.$template_styles, alertBlocks) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - alerts start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # BLOCKS - ALERTS
         * ======================================================================== */
    }

    @include snippet-support-alert-blocks;
}

@if map.get(config.$template_styles, sidebarWidgets) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - sidebar widgets start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # BLOCKS - SIDEBAR & WIDGETS
         * ======================================================================== */
    }

    @include snippet-support-sidebar-widgets;
}

@if map.get(config.$template_styles, toggle) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - toggle start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # BLOCKS - TOGGLE
         * ======================================================================== */
    }

    @include snippet-support-toggle-block;
}

@if map.get(config.$template_styles, astro, toggleNav) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - toggleNav start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # ASTRO COMPONENT - TOGGLE NAV MENU
         * ======================================================================== */
    }

    @include snippet-support-astro-toggle-nav-menu;
}

@if map.get(config.$template_styles, astro, stickyToggleNav) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - stickyToggleNav start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # ASTRO SUPPORT - STICKY TOGGLE NAV
         * ======================================================================== */
    }

    @include snippet-support-astro-sticky-toggle-nav(
        $includeToggleNavSupport: not map.get(config.$template_styles, astro, toggleNav)
    );
}

@if map.get(config.$template_styles, siteSettingsMenu) {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - settingsMenu start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* # BLOCKS - SETTINGS MENU
         * ======================================================================== */
    }

    @include snippet-support-site-settings-menu;
}

@if config.$template_print_siteSettingsMenu_fontOverrides and tokens-has-font-families() {
    @include debug-checkpoint(
        '#{config.$template_slug} - blocks - settingsMenu - font overrides start',
        $level: config.$template_debug_checkpointsLevel + 1,
        $verbose: true
    );

    @if config.$template_cssHeadings {
        /* ## Blocks - Settings Menu - Font Overrides ==================================== */
    }

    @include snippet-support-site-settings-menu-font-overrides;
}
