///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../../config';

@use '../../../lib' as *;

@if config.$print_icons {
    @if config.$print_headings {
        /* # BLOCKS - ICONS
         * ======================================================================== */
    }

    @include snippet-support-icons;
}

@if config.$print_alertBlocks {
    @if config.$print_headings {
        /* # BLOCKS - ALERTS
         * ======================================================================== */
    }

    @include snippet-support-alert-blocks;
}

@if config.$print_astro_toggle {
    @if config.$print_headings {
        /* # ASTRO COMPONENT - TOGGLE
         * ======================================================================== */
    }

    @include snippet-support-astro-toggle;
}

@if config.$print_astro_toggleNav {
    @if config.$print_headings {
        /* # ASTRO COMPONENT - TOGGLE NAV MENU
         * ======================================================================== */
    }

    @include snippet-support-astro-toggle-nav-menu;
}

@if config.$print_astro_stickyToggleNav {
    @if config.$print_headings {
        /* # ASTRO SUPPORT - STICKY TOGGLE NAV
         * ======================================================================== */
    }

    @include snippet-support-astro-sticky-toggle-nav;
}

@if config.$print_astro_settingsMenu {
    @if config.$print_headings {
        /* # ASTRO COMPONENT - SETTINGS MENU
         * ======================================================================== */
    }

    @include snippet-support-astro-settings-menu;
}
