///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

/// # CONFIG - Utility Atro
/// ======================================================================== ///

@forward 'pkg:@maddimathon/utility-astro/templates/html/config' with (
    $breakpoints: (
        'tablet': 33,
    )
    !default
);
