///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'sass:string';

@use 'utility-astro' as utils;

///
/// Should be in pixels.
///
/// @since ___PKG_VERSION___
///
$fn_clampHighContrastBorderWidth_max: null !default;
$fn_clampHighContrastBorderWidth_max: utils.config-valid-number(
    $fn_clampHighContrastBorderWidth_max,
    'fn_clampHighContrastBorderWidth_max',
    $default: 4,
    $unit: 1px
);

///
/// A value used as either em or rem.
///
/// @since ___PKG_VERSION___
///
$fn_clampHighContrastBorderWidth_min: null !default;
$fn_clampHighContrastBorderWidth_min: utils.config-valid-number(
    $fn_clampHighContrastBorderWidth_min,
    'fn_clampHighContrastBorderWidth_min',
    $default: 0.125,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$fn_focusRingOffset_max: '400' !default;

///
/// @since ___PKG_VERSION___
///
$fn_focusRingOffset_min: '100' !default;

///
/// Required for proper forced-colors icon support.
///
/// @since ___PKG_VERSION___
///
$fn_pseudoIconsUseFont: true !default;

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_borderRadius: true !default;

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_colour: true !default;

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_fontFamily: true !default;

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_style: true !default;

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_transitionTime: true !default;

///
/// @since 0.1.0-alpha
///
$fn_var_replaceWithValue_zIndex: true !default;

///
/// @since ___PKG_VERSION___
///
$themes__nestedFlat_tokenValues_warnIfNoFunction: true !default;
