///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'template';

@use 'utility-astro' as utils;

@use 'template';

///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_borderRadius: true !default;
$fn_var_replaceWithValue_borderRadius: utils.config-valid-bool(
    $fn_var_replaceWithValue_borderRadius,
    'fn_var_replaceWithValue_borderRadius'
) !default;

///
/// NOTE: setting this to true will disabled variable line-height values for
/// font-family overrides.
///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_borderWidth: not utils.$include_html !default;
$fn_var_replaceWithValue_borderWidth: utils.config-valid-bool(
    $fn_var_replaceWithValue_borderWidth,
    'fn_var_replaceWithValue_borderWidth'
) !default;

///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_colour: true !default;
$fn_var_replaceWithValue_colour: utils.config-valid-bool(
    $fn_var_replaceWithValue_colour,
    'fn_var_replaceWithValue_colour'
) !default;

///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_fontFamily: not template.$print_docs !default;
$fn_var_replaceWithValue_fontFamily: utils.config-valid-bool(
    $fn_var_replaceWithValue_fontFamily,
    'fn_var_replaceWithValue_fontFamily'
) !default;

///
/// NOTE: this also disables font sizes that scale with vw, since those are only
/// set via property to allow for clamp() fallbacks.
///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_fontSize: not utils.$include_html !default;
$fn_var_replaceWithValue_fontSize: utils.config-valid-bool(
    $fn_var_replaceWithValue_fontSize,
    'fn_var_replaceWithValue_fontSize'
) !default;

///
/// NOTE: setting this to true will disabled variable line-height values for
/// font-family overrides.
///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_strokeRelative: not utils.$include_html !default;
$fn_var_replaceWithValue_strokeRelative: utils.config-valid-bool(
    $fn_var_replaceWithValue_strokeRelative,
    'fn_var_replaceWithValue_strokeRelative'
) !default;

///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_style: true !default;
$fn_var_replaceWithValue_style: utils.config-valid-bool(
    $fn_var_replaceWithValue_style,
    'fn_var_replaceWithValue_style'
) !default;

///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_transitionTime: true !default;
$fn_var_replaceWithValue_transitionTime: utils.config-valid-bool(
    $fn_var_replaceWithValue_transitionTime,
    'fn_var_replaceWithValue_transitionTime'
) !default;

///
/// @since ___PKG_VERSION___
///
$fn_var_replaceWithValue_zIndex: true !default;
$fn_var_replaceWithValue_zIndex: utils.config-valid-bool(
    $fn_var_replaceWithValue_zIndex,
    'fn_var_replaceWithValue_zIndex'
) !default;
