///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha.2
///

@use 'utility-astro' as utils;

@use 'fn-config' as fn;

///
/// @since 0.1.0-alpha.3
///
$mx_aspectRatio_includeFallback: utils.$include_featureCheck !default;

///
/// @since 0.1.0-alpha.6
///
$mx_tokensAll_includeFontFace: utils.$include_html !default;

///
/// @since ___PKG_VERSION___
///
$mx_tokens_fontFace_asBase64: false !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeAlternateThemes: null !default;

///
/// @since ___PKG_VERSION___
///
$mx_tokensTheme_includeQuery: true !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeDefaultSelectors: not $mx_tokensTheme_includeQuery !default;

///
/// @since 0.1.0-alpha
///
$mx_tokensTheme_unifyActiveThemeSelectors: false !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_nestActiveThemeSelectors: not $mx_tokensTheme_unifyActiveThemeSelectors !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_separateQueriesAndSelectors: utils.$selectorType_mode != 'null' !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_setBaseProperties: utils.$include_html !default;
