///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha.2
///

@forward 'template';

@use 'utility-astro' as utils;

@use 'template';

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeAlternateThemes: null !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_includeDefaultSelectors: false !default;
$mx_tokensTheme_includeDefaultSelectors: utils.config-valid-bool(
    $mx_tokensTheme_includeDefaultSelectors,
    'mx_tokensTheme_includeDefaultSelectors'
) !default;

///
/// @since 0.1.0-alpha
///
$mx_tokensTheme_unifyActiveThemeSelectors: template.$print_docs !default;
$mx_tokensTheme_unifyActiveThemeSelectors: utils.config-valid-bool(
    $mx_tokensTheme_unifyActiveThemeSelectors,
    'mx_tokensTheme_unifyActiveThemeSelectors'
);

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_nestActiveThemeSelectors: not
    $mx_tokensTheme_unifyActiveThemeSelectors !default;
$mx_tokensTheme_nestActiveThemeSelectors: utils.config-valid-bool(
    $mx_tokensTheme_nestActiveThemeSelectors,
    'mx_tokensTheme_nestActiveThemeSelectors'
) !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_separateQueriesAndSelectors: utils.$selectorType_mode != 'null' !default;
$mx_tokensTheme_separateQueriesAndSelectors: utils.config-valid-bool(
    $mx_tokensTheme_separateQueriesAndSelectors,
    'mx_tokensTheme_separateQueriesAndSelectors'
) !default;

///
/// @since 0.1.0-alpha.2
///
$mx_tokensTheme_setBaseProperties: utils.$print_globals !default;
$mx_tokensTheme_setBaseProperties: utils.config-valid-bool(
    $mx_tokensTheme_setBaseProperties,
    'mx_tokensTheme_setBaseProperties'
) !default;
