///
/// @package @maddimathon/utility-astro@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'utility-astro' as utils;

$print_astro_stickyToggleNav: utils.$print_astro !default;
$print_astro_stickyToggleNav: utils.config-valid-bool(
    $print_astro_stickyToggleNav,
    'print_astro_stickyToggleNav'
);

$print_docs: false !default;
$print_docs: utils.config-valid-bool($print_docs, 'print_docs');

$print_alertBlocks: utils.$print_utils or utils.$print_astro !default;
$print_alertBlocks: utils.config-valid-bool(
    $print_alertBlocks,
    'print_alertBlocks'
);

$print_icons: utils.$print_utils or utils.$print_astro or $print_alertBlocks !default;
$print_icons: utils.config-valid-bool($print_icons, 'print_icons');
