///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-astro/config' with (
    $include_html: false !default,

    $internal_isTemplate: false !default,
    $internal_supressCredit: true,

    $mx_extendHeadingsByRole: false !default,

    $print_astro: false !default,
    $print_astro_settingsMenu: false,
    $print_astro_toggle: false,
    $print_astro_toggleNav: false,

    $print_globals: false !default,
    $print_normalize: false,
    $print_tokens: false,
    $print_utils: false !default,

    $selectorType_mode: 'null-selector' !default,
    $selectorType_motion: 'null-selector' !default,

    $selector_root: (
        'html',
    )
    !default,

    $fn_fontRoundToPixelFactor: 32 !default
);
