///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-astro/templates/html/config' with (
    $astroSupport_settingsMenu: false !default,
    $astroSupport_toggle: false !default,

    $selectorType_mode: 'null-selector' !default,
    $selectorType_motion: 'null-selector' !default
);
