///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-sass/templates/base/config' with (
    $internal_supressCredit: true,

    $selectorType_mode: 'null-selector' !default,
    $selectorType_motion: 'null-selector' !default
);
