///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-astro/templates/astro/config' with (
    $include_html: false !default,

    $print_astro: false !default,
    $print_globals: false !default,
    $print_normalize: false !default,
    $print_tokens: false !default,
    $print_utils: false !default,

    $selectorType_mode: 'null-selector' !default,
    $selectorType_motion: 'null-selector' !default
);
