///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward 'utility-astro';

@forward 'function-config';
@forward 'mixin-config';
@forward 'paths';
@forward 'template';

@use 'utility-astro' as utils;
