///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'utility-astro';

@forward 'template';

@use 'utility-astro' as utils;

$mx_themeTokens_nestModeSelectors: false !default;
$mx_themeTokens_nestModeSelectors: utils.config-valid-bool(
    $mx_themeTokens_nestModeSelectors,
    'mx_themeTokens_nestModeSelectors'
);
