///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'utility-astro' hide $internal_supressCredit, $print_normalize,
    $print_tokens;

@forward 'templates';

@use 'utility-astro' as utils;

$internal_supressCredit: false !default;
$internal_supressCredit: utils.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);

$print_normalize: utils.$include_html !default;
$print_normalize: utils.config-valid-bool($print_normalize, 'print_normalize');

$print_tokens: false !default;
$print_tokens: utils.config-valid-bool($print_tokens, 'print_tokens');

$mx_themeTokens_nestModeSelectors: false !default;
$mx_themeTokens_nestModeSelectors: utils.config-valid-bool(
    $mx_themeTokens_nestModeSelectors,
    'mx_themeTokens_nestModeSelectors'
);
