///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'utility-sass' hide $internal_supressCredit;

@use 'utility-sass' as utils;

///
/// Whether to include the normalize mixin in the output.
///
/// @since ___PKG_VERSION___
///
$include_normalize: utils.$include_html !default;
$include_normalize: utils.config-valid-bool(
    $include_normalize,
    'include_normalize'
);

$internal_supressCredit: false !default;
$internal_supressCredit: utils.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
