///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward 'default';

@use 'pkg:@maddimathon/utility-sass/map';

@use 'default';

$spacing_multiplier: map.get(default.$designSystem, spacing_multiplier);

$margin: map.ksort(map.get(default.$designSystem, margin));

$font: map.get(default.$designSystem, font);

$line_height: map.ksort(map.get(default.$designSystem, line_height));

$border: map.ksort(map.get(default.$designSystem, border), $recursive: true);

$icons: map.ksort(map.get(default.$designSystem, icons));

$logos: map.ksort(map.get(default.$designSystem, logos));

@if $logos == null {
    $logos: ();
}

$transition: map.get(default.$designSystem, transition);

$z_index: map.ksort(map.get(default.$designSystem, z_index));

$colour: map.ksort(map.get(default.$designSystem, colour), $recursive: true);

$themes: map.get(default.$designSystem, themes);
