///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward 'pkg:@maddimathon/utility-sass/notice' hide $internal_isTemplate,
    $internal_supressCredit;

@use 'lib/noticeMx';
@use 'config';

@if not config.$internal_supressCredit {
    @include noticeMx.notice();
}
