///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @forward 'pkg:@maddimathon/utility-sass/notice' hide $internal_isTemplate,
//     $internal_supressCredit;
// @forward 'pkg:@maddimathon/utility-astro/notice';

// @use 'config';

// @use 'lib/noticeMx' as *;

// @if not config.$internal_supressCredit and not config.$internal_isTemplate {
//     @include notice(true);
// }
