///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'utils';

@forward '_header';

@forward '01-functions';
@forward '02-mixins';

// TODO: remove testing
// @use 'utils';

// test.design-system-utilities {
//     /* this is a test of utils.$scale_multiplier */
//     --content: #{utils.$scale_multiplier};
// }

// @include utils.min-width(tablet) {
//     test.design-system-utilities {
//         /* I am inside a min-width( tablet ) mixin from utility-sass */
//     }
// }
