///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/colour';
// @use 'pkg:@maddimathon/utility-sass/list';
// @use 'pkg:@maddimathon/utility-sass/map';
// @use 'pkg:@maddimathon/utility-sass/math';
// @use 'pkg:@maddimathon/utility-sass/meta';
// @use 'pkg:@maddimathon/utility-sass/selector';
// @use 'pkg:@maddimathon/utility-sass/string';

@use '../lib';

/* # COLOUR SWATCH LIST ==================================== */

.colour-swatch-list {
    display: flex;
    flex-direction: row;
    gap: 0;

    margin-block-start: #{lib.var-mrg-firm('400')};

    overflow: auto;
}

@include lib.extend-selectors;
