///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_lib' hide $internal_extendSelectors;

@use '../../../config/utility-sass' as utils;

$internal_extendSelectors: true !default;
$internal_extendSelectors: utils.config-valid-bool(
    $internal_extendSelectors,
    'internal_extendSelectors'
);

$internal_supressCredit: false !default;
$internal_supressCredit: utils.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
