///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../html/config' with (
    $astroSupport_settingsMenu: true !default,
    $astroSupport_toggle: true !default,

    $internal_supressCredit: true
);

@use '../../../config/utility-sass' as utils;

$internal_supressCredit: false !default;
$internal_supressCredit: utils.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
