///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use '../config';

@if config.$print_templateDocBlock {
    @if config.$template_isDefault {
        /**
         * Design System Utilities Template
         */
    } @else {
        /**
         * Design System Utilities Template - #{config.$template_name}
         */
    }
}
