///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'sass:string';

@use '../config';

@if config.$template_isDefault {
    /*! START of @maddimathon/design-system-utilities/template */
} @else {
    /*! START of @maddimathon/design-system-utilities/template/#{string.to-lower-case(config.$template_name)} */
}
