///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../astro/config' with (
    $mx_themeTokens_nestModeSelectors: true !default
);
