///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @forward '_lib' hide $internal_extendSelectors;
@forward '_lib';

@use '_lib' as lib;

$internal_extendSelectors: true !default;
$internal_extendSelectors: lib.config-valid-bool(
    $internal_extendSelectors,
    'internal_extendSelectors'
);

$internal_supressCredit: false !default;
$internal_supressCredit: lib.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
