///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../global/_content';

@forward 'pkg:@maddimathon/utility-astro/templates/html' hide
        $brightnessMode_all,
    $brightnessMode_default, $contrastMode_all, $contrastMode_default,
    $internal_extendSelectors, $internal_supressCredit, $print_tokens,
    extend-selector-globals, extend-selector-utils, print-template-header,
    print-tokens, snippet-button, snippet-input, snippet-input-types,
    snippet-label, tokens-all, tokens-sys-colour;

// @forward '00-abstracts';
// @forward '01-accessibility';
// @forward '02-objects';
@forward '03-typography';
// @forward '04-lists';
// @forward '05-forms';
// @forward '06-tables';
