///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';

@forward '_header';

@forward 'tokens';

@forward 'pkg:@maddimathon/utility-sass/notice' hide $internal_supressCredit;

@forward 'lib';

@forward '_content';

@forward '_footer';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use 'config';

@use 'lib' as *;
@use '_content' as *;

@if config.$internal_extendSelectors {
    @include config.print-globals {
        @include extend-selector-globals;
    }

    @include config.print-utils {
        @include extend-selector-utils;
    }
}
