///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';

@forward '_header';

@forward 'tokens';

@forward 'pkg:@maddimathon/utility-sass/notice' hide $internal_supressCredit;

@forward 'lib';

@forward 'pkg:@maddimathon/utility-astro/templates/tokens' hide
        extend-selector-globals,
    extend-selector-utils, print-tokens, snippet-button, snippet-input,
    snippet-input-types, snippet-label, tokens-sys-colour, tokens-all,
    $font_sizes, $internal_extendSelectors, $internal_supressCredit,
    $line_heights, $margins, $print_tokens, $scale_multiplier;

@forward '_content';

@forward '_footer';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use 'config';

@use 'lib' as *;

@if config.$internal_extendSelectors {
    @include config.print-globals {
        @include extend-selector-globals;
    }

    @include config.print-utils {
        @include extend-selector-utils;
    }
}
