///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'tokens';

@forward '_header';

@forward 'pkg:@maddimathon/utility-sass/notice' hide $internal_supressCredit;

@forward 'lib';

@forward '_content';

@forward '_footer';
