///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/map';

@use '../config';
// @use '../tokens';

@use '../lib' as *;

@include config.print-headings {
    /* # TYPOGRAPHY
     * ======================================================================== */
}
