///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'pkg:@maddimathon/utility-sass/map';

@use '../config';
// @use '../tokens';

@use '../lib' as *;

@include config.print-headings {
    /* # TYPOGRAPHY
     * ======================================================================== */
}

%selection {
    @include average-contrast {
        background-color: color-mix(
            in srgb,
            #{var-theme(selection-bg)} 50%,
            transparent
        ) !important;
        color: #{var-theme(selection-text)} !important;
    }

    @include low-contrast {
        background-color: color-mix(
            in srgb,
            #{var-theme(selection-bg)} 25%,
            transparent
        ) !important;
        color: #{var-theme(selection-text)} !important;
    }

    @include high-contrast {
        background-color: color-mix(
            in srgb,
            #{var-theme(selection-bg)} 90%,
            transparent
        ) !important;
        color: #{var-theme(selection-text)} !important;
    }

    @include forced-colors {
        background-color: #{var-theme(selection-bg)} !important;
        color: #{var-theme(selection-text)} !important;
    }
}

/* ## Typography - Inline ==================================== */

%a {
    /// STATES ///

    @include hover-focus-visible() {
        text-decoration-color: transparent;
    }

    /// EXCEPTIONS ///

    &.no-style {
    }

    &[aria-disabled='true'] {
    }
}

%abbr {
    &[title] {
    }
}

/* ## Typography - Block ==================================== */

%aside {
    font-style: italic;
    color: #{var-theme(text-primary)};

    em {
        font-style: normal;

        em {
            font-style: italic;
        }
    }
}

%pre,
%code {
    --focus-ring-outline-color: #{var-theme(text-secondary)};
    position: relative;
}

%code {
}

%pre {
}
