///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'pkg:@maddimathon/utility-sass/selector';

@use '../config';
// @use '../tokens';

@use '../lib' as *;

@include config.print-headings {
    /* # FORMS
     * ======================================================================== */
}

%_input-base {
    @include snippet-input($includeUtils: false);
}

%input {
    @extend %_input-base;
    @include snippet-input-types($includeBase: false, $includeUtils: false);
}

%select {
    @extend %_input-base;
}

%textarea {
    @extend %_input-base;
}

@include config.print-headings {
    /* ## Forms - Buttons ==================================== */
}

%button,
%button-secondary {
    @include snippet-button($includeUtils: false);
}

%button-secondary,
#{selector.unify('%button', '.button-secondary')} {
    @include snippet-button-colours('secondary');
}
