///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'pkg:@maddimathon/utility-astro/templates/tokens' hide
        extend-selector-globals,
    extend-selector-utils, get-sys-colours, print-tokens, snippet-button,
    snippet-input, snippet-input-types, snippet-label, tokens-sys-colour,
    tokens-all, $brightnessMode_all, $brightnessMode_default, $contrastMode_all,
    $contrastMode_default, $font_sizes, $internal_extendSelectors,
    $internal_supressCredit, $line_heights, $margins, $print_tokens,
    $scale_multiplier;
