///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '00-abstracts';

@forward 'pkg:@maddimathon/utility-astro/templates/tokens/_content';

// @forward '01-accessibility';
// @forward '02-objects';
@forward '03-typography';
// @forward '04-lists';
@forward '05-forms';
// @forward '06-tables';
