///
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../global/config' with (
    $include_featureCheck: true !default,
    $include_html: true !default,

    $internal_supressCredit: true,

    $print_astro: false !default,
    $print_globals: true !default,
    $print_normalize: true !default,
    $print_tokens: true !default,
    $print_utils: true !default,

    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default
);
