/// 
/// @package @maddimathon/design-system-utilities@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
/// 

@mixin test-mixin( $optional: null ) {
    /* 
        I am a mixin with an optional param.
        
        $optional = #{$optional}
        test-mixin
    */
}